{% extends "layouts/base-big-footer.html" %}

{% set bodyClass = "promo-small" %}
{% set title = "Калькулятор" %}
{% set pageTitle = "Калькулятор" %}
{% set breadcrumbs = [
{url: '/', text: 'Главная'},
{url: '/catalog.html', text: 'Калькулятор'}
] %}

{% block content %}

{% include "sections/hero-inner-page.html" %}

<!-- Стены  -->
<section class="section ">
  <div class="wrapper">

    <div class="calculator">
      <div class="calculator__group">
        <h2 class="title-three">Стены</h2>

        <div class="calculator-options">
          <div class="calculator-options__grid">
            <!-- Длина всех стен (периметр)  -->
            <div class="calculator-options__item -quantity">
              <div class="calculator-field -mod">
                <div class="calculator-field__body">
                  <label class="calculator-field__label" for="calculator-quantity">Длина всех стен (периметр)</label>
                  <div class="input">
                    <input class="calculator__input" type="number" id="calculator-quantity" min="0" placeholder="0" />
                  </div>
                  <span class="calculator-field__sub-label">метров</span>
                </div>
              </div>
            </div>

            <!-- Высота стен  -->
            <div class="calculator-options__item -quantity">
              <div class="calculator-field -mod">
                <div class="calculator-field__body">
                  <label class="calculator-field__label" for="calculator-quantity">Высота стен</label>
                  <div class="input">
                    <input class="calculator__input" type="number" id="calculator-quantity" min="0" placeholder="0" />
                  </div>
                  <span class="calculator-field__sub-label">метров</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="calculator__group">
        <h2 class="title-three">Проемы</h2>

        <div class="calculator-options">
          <div class="calculator-options__grid">
            <!-- Окно или дверь -->
            <div class="calculator-options__item -variation">
              <div class="calculator-variation">
                <ul class="calculator-variation__list list-reset">
                  <li class="calculator-variation__item">
                    <div class="calculator-radio">
                      <input type="radio" name="calculator-type-variation" id="brick-variation-1" checked />
                      <label class="label" for="brick-variation-1">Дверь</label>
                    </div>
                  </li>
                  <li class="calculator-variation__item">
                    <div class="calculator-radio">
                      <input type="radio" name="calculator-type-variation" id="brick-variation-2" />
                      <label class="label" for="brick-variation-2">Окно</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Высота проема  -->
            <div class="calculator-options__item -quantity">
              <div class="calculator-field -mod">
                <div class="calculator-field__body">
                  <label class="calculator-field__label" for="calculator-quantity">Высота проема</label>
                  <div class="input">
                    <input class="calculator__input" type="number" id="calculator-quantity" min="0" placeholder="0" />
                  </div>
                  <span class="calculator-field__sub-label">метров</span>
                </div>
              </div>
            </div>

            <!-- Количество  -->
            <div class="calculator-options__item -quantity">
              <div class="calculator-field -mod">
                <div class="calculator-field__body">
                  <label class="calculator-field__label" for="calculator-quantity">Количество</label>
                  <div class="input">
                    <input class="calculator__input" type="number" id="calculator-quantity" min="0" placeholder="0" />
                  </div>
                  <span class="calculator-field__sub-label">штук</span>
                </div>
              </div>
            </div>

            <!-- Ширина проема  -->
            <div class="calculator-options__item -quantity">
              <div class="calculator-field -mod">
                <div class="calculator-field__body">
                  <label class="calculator-field__label" for="calculator-quantity">Ширина проема</label>
                  <div class="input">
                    <input class="calculator__input" type="number" id="calculator-quantity" min="0" placeholder="0" />
                  </div>
                  <span class="calculator-field__sub-label">метров</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="calculator__group">
        <div class="calculator__reset-group">
          <button class="add-button" type="button">
            <span class="add-button__icon"><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.55556 11H11M11 11H15.4444M11 11V15.4444M11 11V6.55556M11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11C21 16.5228 16.5228 21 11 21Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg></span>
            <span class="add-button__text">добавить проем</span>
          </button>

          <button class="add-button -red -reverse" type="button">
            <span class="add-button__icon">
              <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3 4V15.8C3 16.9201 3 17.4798 3.21799 17.9076C3.40973 18.2839 3.71547 18.5905 4.0918 18.7822C4.5192 19 5.07899 19 6.19691 19H11.8031C12.921 19 13.48 19 13.9074 18.7822C14.2837 18.5905 14.5905 18.2839 14.7822 17.9076C15 17.4802 15 16.921 15 15.8031V4M3 4H5M3 4H1M5 4H13M5 4C5 3.06812 5 2.60241 5.15224 2.23486C5.35523 1.74481 5.74432 1.35523 6.23438 1.15224C6.60192 1 7.06812 1 8 1H10C10.9319 1 11.3978 1 11.7654 1.15224C12.2554 1.35523 12.6447 1.74481 12.8477 2.23486C12.9999 2.6024 13 3.06812 13 4M13 4H15M15 4H17"
                  stroke="#C4161C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            <span class="add-button__text">удалить проем</span>
          </button>
        </div>


      </div>

      <div class="calculator__group">
        <h2 class="title-three">Выберите тип кирпича</h2>

        <div class="calculator-options">
          <div class="calculator-options__grid">
            <!-- Выберите тип кирпича -->
            <div class="calculator-options__item -variation">
              <div class="calculator-variation">
                <ul class="calculator-variation__list list-reset">
                  <li class="calculator-variation__item">
                    <div class="calculator-radio">
                      <input type="radio" name="calculator-brick-variation" id="brick-variation-3" checked />
                      <label class="label" for="brick-variation-3">Одинарный (1NF)</label>
                    </div>
                  </li>
                  <li class="calculator-variation__item">
                    <div class="calculator-radio">
                      <input type="radio" name="calculator-brick-variation" id="brick-variation-4" />
                      <label class="label" for="brick-variation-4">Полуторный (1,4NF)</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- кнопка  -->
            <div class="calculator-options__item -quantity">
              <button class="button -red" type="button ">
                <span class="button__text">Рассчитать только количество кирпича</span>
                <span class="button__icon -mod">
                  <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.83789 7.32434L8.29735 7.81083" stroke="white" stroke-width="2" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9.75684 8.2973L11.2163 8.78379" stroke="white" stroke-width="2" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9.75684 5.37836L11.2163 5.86484" stroke="white" stroke-width="2" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12.6758 6.35138L14.1352 6.83787" stroke="white" stroke-width="2" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12.6758 3.43243L14.1352 3.91892" stroke="white" stroke-width="2" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.5947 4.4054L17.0542 4.89188" stroke="white" stroke-width="2" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M12.6757 1L6.83784 4.89189L1 8.78378L10.7297 11.7027L16.5676 7.81081L22.4054 3.91892L12.6757 1Z"
                      stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M22.4054 3.91895V11.2162L16.5676 15.1081L10.7297 19L1 16.0811V8.78381" stroke="white"
                      stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10.7295 11.7027V19" stroke="white" stroke-width="2" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="calculator__group">
        <h2 class="title-three">Расчет с учетом кирпича из каталога</h2>

        <div class="calculator-options">
          <div class="calculator-options__grid">
            <!-- Вид кирпича -->
            <div class="calculator-options__item">
              <div class="calculator-select-item">
                <div class="calculator-select-item__grid">
                  <div class="calculator-select-item__col"><span class="calculator-field__label">Кирпич из
                      каталога:</span>
                  </div>
                  <div class="calculator-select-item__col">
                    <!-- Dropdown (BEM) для выбора кирпича из каталога -->
                    <div class="dropdown -mod-height -full-w" data-dropdown>
                      <!-- Кнопка-триггер -->
                      <button class="dropdown__control" type="button" aria-haspopup="listbox" aria-expanded="false">
                        <span class="dropdown__value" data-dropdown-value>Выберите кирпич</span>
                        <span class="dropdown__icon" aria-hidden="true">
                          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 1L7 7L1 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                          </svg>
                        </span>
                      </button>

                      <!-- Выпадающий список -->
                      <div class="dropdown__menu" hidden>
                        <ul class="dropdown__list" role="listbox" tabindex="-1">
                          <li class="dropdown__option dropdown__option--selected" role="option" aria-selected="true"
                            tabindex="-1" data-value="braer-standard">
                            Braer Кирпич стандартный красный полнотелый М150 1НФ
                          </li>
                          <li class="dropdown__option" role="option" tabindex="0" data-value="braer-rica">
                            Braer Рига пустотелый терракот М150 1.4НФ
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="lode-liepa">
                            Lode Liepa лицевой солома пустотелый М125 1НФ
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="wienerberger-porotherm">
                            Wienerberger Porotherm 38 керамический блок М100 2.1НФ
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="kerma-granit">
                            KERMA Гранит клинкерный темно-серый М300 0.5НФ
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="revada-engelska">
                            Revada Английский красный полнотелый М200 1НФ
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="terca-romus">
                            Terca Romus коричневый пустотелый М150 1.4НФ
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="zakamensk-sand">
                            Закаменский кирпич песочный полнотелый М125 1НФ
                          </li>
                        </ul>
                      </div>

                      <!-- Скрытое поле для формы -->
                      <input class="dropdown__input" type="hidden" name="catalog-brick" value="braer-standard">
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- Цвет кирпича -->
            <div class="calculator-options__item">
              <div class="calculator-select-item">
                <div class="calculator-select-item__grid">
                  <div class="calculator-select-item__col"><span class="calculator-field__label">Цвет кирпича</span>
                  </div>
                  <div class="calculator-select-item__col">
                    <!-- Dropdown (BEM) для выбора цвета кирпича -->
                    <div class="dropdown -mod-height -full-w" data-dropdown>
                      <!-- Кнопка-триггер -->
                      <button class="dropdown__control" type="button" aria-haspopup="listbox" aria-expanded="false">
                        <span class="dropdown__value" data-dropdown-value>Любой цвет</span>
                        <span class="dropdown__icon" aria-hidden="true">
                          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 1L7 7L1 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                          </svg>
                        </span>
                      </button>

                      <!-- Выпадающий список -->
                      <div class="dropdown__menu" hidden>
                        <ul class="dropdown__list" role="listbox" tabindex="-1">
                          <li class="dropdown__option dropdown__option--selected" role="option" aria-selected="true"
                            tabindex="0" data-value="any">
                            Любой цвет
                          </li>
                          <li class="dropdown__option" role="option" tabindex="0" data-value="red">
                            Красный
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="brown">Коричневый</li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="terracotta">
                            Терракотовый
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="yellow">
                            Желтый
                          </li>
                          <li class="dropdown__option" role="option" tabindex="-1" data-value="gray">
                            Серый
                          </li>
                        </ul>
                      </div>

                      <!-- Скрытое поле для формы -->
                      <input class="dropdown__input" type="hidden" name="brick-color" value="any">

                    </div>
                  </div>
                </div>

              </div>
            </div>




          </div>
        </div>
      </div>

      <div class="calculator__group">
        <div class="centered-content">
          <button class="button -big -red" type="button">
            <span class="button__text">Рассчитать количество и стоимость</span>
            <span class="button__icon -mod">
              <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1 4.2002V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.5192 19 3.07899 19 4.19691 19H13.8031C14.921 19 15.48 19 15.9074 18.7822C16.2837 18.5905 16.5905 18.2842 16.7822 17.9079C17 17.4805 17 16.9215 17 15.8036V4.19691C17 3.07899 17 2.5192 16.7822 2.0918C16.5905 1.71547 16.2837 1.40973 15.9074 1.21799C15.4796 1 14.9203 1 13.8002 1H4.2002C3.08009 1 2.51962 1 2.0918 1.21799C1.71547 1.40973 1.40973 1.71547 1.21799 2.0918C1 2.51962 1 3.08009 1 4.2002Z"
                  stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <circle cx="5" cy="7.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="9" cy="7.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="13" cy="7.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="5" cy="11.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="9" cy="11.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="13" cy="11.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="5" cy="15.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="9" cy="15.5" r="0.5" stroke="white" stroke-width="2" />
                <circle cx="13" cy="15.5" r="0.5" stroke="white" stroke-width="2" />
              </svg>
            </span>
          </button>
        </div>


      </div>
    </div>


  </div>
</section>
<section class="section -bg-color-grey">
  <div class="wrapper">
    <h2 class="title-two">Результаты расчета</h2>
  </div>
</section>

{% include "sections/promo-2.html" %}


{% endblock %}
