{% extends "layouts/promo-big-footer.html" %}

{% set bodyClass = "promo-small" %}
{% set title = "Керамическое ателье «Левша»" %}
{% set pageTitle = "Керамическое ателье «Левша»" %}
{% set breadcrumbs = [
{url: '/', text: 'Главная'},
{url: '/', text: 'Каталог продукции'},
{url: '/ceramic-studio-lefty.html', text: 'Керамическое ателье «Левша»'}
] %}

{% block content %}

{% include "sections/hero-inner-page.html" %}

<section class="section">
  <div class="wrapper">
    <div class="container">

      <h2 class="title">Дух ателье</h2>
      <p>Наблюдая за работой нашей команды, вы не увидите конвейера. Здесь царит атмосфера ремесленной мастерской, где
        ценятся интуиция, индивидуальный подход и одержимость своим делом. Именно поэтому мы назвали проект «Ателье» —
        от французского atelier, что значит «мастерская».</p>
      <p>А «Левша» — это не просто дань уважения герою Лескова, символу русской смекалки и трепетного отношения к
        ремеслу. Это наш секрет и наша гордость: один из ключевых мастеров, создающих новые фактуры, действительно
        левша.</p>

      <div class="author-article">
        <div class="author-article__grid">
          <div class="author-article__col -left">
            <div class="author-article__avatar">
              <img src="{{ assets }}/img/author-article/1.jpg" alt="" />
            </div>
          </div>
          <div class="author-article__col -right">
            <p class="author-article__text">
              С уважением,<br>
              Алексей Алексеевич Попов<br>
              Первый заместитель генерального директора<br>
              ООО “Губский кирпичный завод”
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="section -bg-color">
  <div class="wrapper">
    <div class="container">
      <h2 class="title-three">История создания</h2>
      <p>Наше ателье родилось не в тиши кабинетов, а на пересечении взглядов маркетологов, предвидящих тренд на
        индивидуализацию, и технологов, ищущих новые формы выражения. Первые эксперименты с покрытиями — появление
        фактур Галлерас и Бромо — стали прологом к новой эстетике Губского завода. Затем были жидкие составы, подарившие
        миру Магму, Сиену Луч и Габбро. Но настоящая магия началась, когда две технологии соединились: так
        родились Терра, Графит26, Розовый мрамор — кирпичи с характером.</p>
      <h2 class="title-three">Философия создания Керамического ателье «Левша»</h2>
      <p>Мы не штампуем кирпич. Мы создаем образы. Каждая новая фактура проходит путь от цифрового эскиза, созданного
        совместно с дизайн-студиями, до материального воплощения. Архитекторы-эксперты вглядываются в поверхность,
        оценивают игру света и тени, прежде чем дать обратную связь мастерам. Технологи, словно алхимики, подбирают
        составы, экспериментируют с обжигом, чтобы поймать тот единственный оттенок, который задумал автор.</p>
      <p>Со временем этот поиск перерос в систему. Так сформировалось особое подразделение — гибрид лаборатории и
        творческой мастерской, где маркетологи и технологи работают в едином ритме, создавая то, чего раньше не
        существовало.</p>
      <br />

      <!-- слайд с кнопкой просмотра видео -->
      <div class="slide-photo image-hover -video">
        <a class="slide-photo__link" href="{{ assets }}/video/video.mp4" title="Смотреть видео"
          data-fslightbox="video-local" data-autoplay>
          <img src="{{ assets }}/img/content/1.jpg" alt="#" />

          <div class="button-play">
            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 18.2765V3.72445C1 2.52449 1 1.92385 1.25347 1.56881C1.47469 1.25894 1.81567 1.05549 2.19422 1.00685C2.62779 0.951142 3.15957 1.23368 4.22159 1.79797L17.9157 9.07402L17.9207 9.07621C19.0943 9.69981 19.6814 10.0118 19.874 10.4275C20.042 10.7902 20.042 11.2089 19.874 11.5716C19.6811 11.988 19.0927 12.3012 17.9157 12.9265L4.22159 20.2026C3.15881 20.7673 2.62795 21.0487 2.19422 20.993C1.81567 20.9444 1.47469 20.7409 1.25347 20.4311C1 20.076 1 19.4765 1 18.2765Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </a>
      </div>
      <br />
      <br />
      <h2 class="title-three">Сегодня керамическое ателье «Левша» — это возможность создать кирпич, существующий в
        единственном экземпляре.</h2>
      <br />
      <h3 class="title-four">Мы предлагаем полный цикл кастомизации для вашего проекта:</h3>

      <ul>
        <li><strong>Индивидуальный облик:</strong> Мы разрабатываем уникальные пигменты и ангобы, чтобы добиться точного
          попадания в цвет и фактуру вашей мечты.</li>
        <li><strong>Эксклюзивные формы:</strong> Создаем кирпич для сложных 3D-кладок, с утолщенной стенкой или
          нестандартной геометрией.</li>
        <li><strong>Архитектурное соответствие:</strong> Работаем как с серийными партиями, так и с эксклюзивными
          заказами по техническому заданию архитектора.</li>
        <li><strong>Совершенство в деталях:</strong> Выбор степени пустотности (пустотелый, полнотелый) и любого
          типоразмера.</li>
      </ul>
    </div>
  </div>
</section>

<section class="category-preview-section -gray">
  <div class="wrapper">
    <h2 class="title">Мы создали</h2>
    <br />

    <div class="catalog-products-preview">
      <ul class="catalog-products-preview__list list-reset">

        {% include "components/catalog-card-preview/1.html" %}
        {% include "components/catalog-card-preview/2.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}
        {% include "components/catalog-card-preview/3.html" %}


      </ul>
      <br/>
    </div>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <div class="container">
      <h2 class="title-two">Преимущества работы с бутиком «Левша»</h2>

      <p>Мы не просто продаем кирпич. Мы обеспечиваем архитектурное совершенство вашего проекта.</p>

      <div class="why-choose-us">
        <ul class="why-choose-us__list list-reset">


          <li class="why-choose-us__item">
            <div class="why-choose-us-card">
              <span class="why-choose-us-card__icon">
                <svg width="48" height="44" viewBox="0 0 48 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M35 11.58V7.57999C30.278 7.57999 19.662 3.347 18.01 1C16.357 3.347 5.329 7.57999 1 7.57999C1 15.394 1 17.855 1 24.58C1 32.572 17.056 42.328 18 42.58C18.277 42.506 20.292 41.083 22.124 39.801"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M34 40.5801C41.1797 40.5801 47 34.7598 47 27.5801C47 20.4004 41.1797 14.5801 34 14.5801C26.8203 14.5801 21 20.4004 21 27.5801C21 34.7598 26.8203 40.5801 34 40.5801Z"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" />
                  <path d="M39 21.5801L32 28.5801L29 25.5801L26 28.5801L32 34.5801L42 24.5801L39 21.5801Z"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" />
                </svg>
              </span>
              <p class="why-choose-us-card__text"><strong>Эксклюзивность и защита авторского замысла.</strong> Мы
                гарантируем, что выбранное вами решение будет уникальным и подчеркнет статус объекта.</p>
            </div>
          </li>

          <li class="why-choose-us__item">
            <div class="why-choose-us-card">
              <span class="why-choose-us-card__icon">
                <svg width="44" height="43" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 5H40V8" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path
                    d="M40.5 37L38.5 32.3C38.2 31.5 38 30.6 38 29.7V12C38 10.9 38.9 10 40 10H41C42.1 10 43 10.9 43 12V29.7C43 30.6 42.8 31.5 42.5 32.3L40.5 37Z"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" />
                  <path d="M38 15H43" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path d="M20 20V28H11V13H20V17" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M20 13H33V23H29" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M27 23H29V34H16V28" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M24 23H20" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M1 37C1 34.4 3 32 6 32V1C3 1 1 3.4 1 6V37Z" stroke="#E67917" stroke-width="2"
                    stroke-miterlimit="10" stroke-linejoin="round" />
                  <path d="M1 37C1 39.7 3.2 42 6 42H40V39" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                </svg>
              </span>
              <p class="why-choose-us-card__text"><strong>Профессиональные референсы.</strong> Предоставляем текстуры,
                фотореалистичные подборки и создаем микс кладок для идеальной визуальной разработки.</p>
            </div>
          </li>
          <li class="why-choose-us__item">
            <div class="why-choose-us-card">
              <span class="why-choose-us-card__icon">
                <svg width="48" height="32" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 21H1V11H16V21" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M16 11H32V21" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M32 11H47V21H39" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M8 11V1H24V11" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M24 1H39V11" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M24 21H8V31H24V21Z" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M24 31H39V21H24" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                </svg>
              </span>
              <p class="why-choose-us-card__text"><strong>Кураторский подход.</strong> Мы подбираем материал под вашу
                визуализацию, даже если речь идет об импортных аналогах, и обеспечиваем индивидуальное ценообразование в
                рамках проекта.</p>
            </div>
          </li>
          <li class="why-choose-us__item">
            <div class="why-choose-us-card">
              <span class="why-choose-us-card__icon">
                <svg width="48" height="45" viewBox="0 0 48 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15 45V20H20C23.018 20 24 18.219 24 16C22.437 16 7.84 16 6 16C4.125 16 1 17.512 1 22V29C1 31.145 2.855 33 5 33"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M5 22V45" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path
                    d="M13 10C13 11.657 11.657 13 10 13H9C7.343 13 6 11.657 6 10V7C6 5.343 7.343 4 9 4H10C11.657 4 13 5.343 13 7V10Z"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M10 30V45" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M29 33H20V23" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M20 13V1H29" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M38 1H29V33H38V1Z" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M38 1H47V33H38" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" />
                  <path d="M20 9H47" stroke="#E67917" stroke-width="2" />
                  <path d="M29 17H47" stroke="#E67917" stroke-width="2" />
                  <path d="M20 25H47" stroke="#E67917" stroke-width="2" />
                </svg>
              </span>
              <p class="why-choose-us-card__text"><strong>Привилегированный доступ.</strong> Мы проведем вас и ваших
                клиентов в лучшие шоурумы, где продукция «Левша» представлена в атмосфере истинного комфорта и стиля.
              </p>
            </div>
          </li>
          <li class="why-choose-us__item">
            <div class="why-choose-us-card">
              <span class="why-choose-us-card__icon">
                <svg width="46" height="39" viewBox="0 0 46 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 14L16 15" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M19 16L22 17" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M19 10L22 11" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M25 12L28 13" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M25 6L28 7" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M31 8L34 9" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M25 1L13 9L1 17L21 23L33 15L45 7L25 1Z" stroke="#E67917" stroke-width="2"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M45 7V22L33 30L21 38L1 32V17" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M21 23V38" stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
              <p class="why-choose-us-card__text"><strong>Тактильное утверждение.</strong> Организуем выкладку мокапов
                на объекте, чтобы вы могли увидеть и потрогать будущий фасад до начала строительства.</p>
            </div>
          </li>
          <li class="why-choose-us__item">
            <div class="why-choose-us-card">
              <span class="why-choose-us-card__icon">
                <svg width="48" height="34" viewBox="0 0 48 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M36.7197 0.745117C36.7197 0.745117 33.1157 3.97112 32.7407 4.02812C31.6497 4.19812 26.7557 1.89911 25.7667 1.65411C24.7777 1.40911 14.9167 4.54011 14.1847 5.72711C13.4527 6.91511 16.3647 9.72111 19.1697 9.36511C21.9737 9.00911 26.1397 7.51711 27.3527 8.73111C29.3197 10.6991 35.0617 16.7201 37.7747 19.1151C40.0497 21.1241 46.7197 10.7451 46.7197 10.7451"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" />
                  <path d="M24.6452 29.9091L21.4062 26.6201" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path d="M30.0197 28.1331L24.3438 22.0061" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path d="M34.8952 25.2901L28.1562 18.3081" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path
                    d="M13.222 29.8822C14.003 30.6632 15.269 30.6632 16.05 29.8822L17.827 28.1052C18.582 27.3492 18.389 26.1142 17.508 25.2332C16.627 24.3512 15.391 24.1582 14.635 24.9142C15.39 24.1582 15.197 22.9232 14.316 22.0422C13.435 21.1602 12.199 20.9672 11.444 21.7232C12.199 20.9672 12.006 19.7322 11.125 18.8512C10.244 17.9692 9.00797 17.7762 8.25297 18.5322C9.00797 17.7762 8.81497 16.5412 7.93397 15.6602C7.05297 14.7782 5.81696 14.5852 5.06196 15.3412L3.28497 17.1182C2.50397 17.8982 2.50397 19.1652 3.28497 19.9462L13.222 29.8822Z"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" />
                  <path
                    d="M16.8633 29.0682L17.4863 29.6992L19.0143 31.2272C21.3473 33.5592 23.5233 31.8432 24.6463 29.9092C26.7823 31.0112 29.1703 29.7932 30.0203 28.1332C32.7233 29.4682 35.0903 26.7042 34.8963 25.2902C37.8163 25.1182 39.7783 21.7992 37.7743 19.1152"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" />
                  <path d="M0.71875 11.7451L2.85475 13.9591C3.08275 14.7391 3.60775 15.5771 4.15675 16.2451"
                    stroke="#E67917" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" />
                  <path d="M14.3217 5.57312L10.7227 1.97412" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path d="M8.25328 18.53L5.11328 21.772" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path d="M8.25328 18.53L5.11328 21.772" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path d="M11.4457 21.7222L8.30469 24.9642" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                  <path d="M14.6371 24.9131L11.4961 28.1551" stroke="#E67917" stroke-width="2" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                </svg>
              </span>
              <p class="why-choose-us-card__text"><strong>Партнерство.</strong> Участвуем в совместных выставках,
                семинарах и рекламных кампаниях, усиливая значимость вашего бренда.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <div class="contacts-card">
      <div class="contacts-card__grid">
        <div class="contacts-card__col -left">

          <!-- яндекс карта  -->
          <div class="map">
            <div class="map__container" id="map"></div>
          </div>

        </div>
        <div class="contacts-card__col -right">
          <div class="contacts-block">

            <div class="contacts-block__item">
              <span class="contacts-block__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.50246 2.25722C7.19873 1.4979 6.46332 1 5.64551 1H2.89474C1.8483 1 1 1.8481 1 2.89453C1 11.7892 8.21078 19 17.1055 19C18.1519 19 19 18.1516 19 17.1052L19.0005 14.354C19.0005 13.5361 18.5027 12.8009 17.7434 12.4971L15.1069 11.4429C14.4249 11.1701 13.6483 11.2929 13.0839 11.7632L12.4035 12.3307C11.6089 12.9929 10.4396 12.9402 9.7082 12.2088L7.79222 10.2911C7.06079 9.55962 7.00673 8.39134 7.66895 7.59668L8.23633 6.9163C8.70661 6.35195 8.83049 5.57516 8.55766 4.89309L7.50246 2.25722Z"
                    stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              <span class="contacts-block__label">Единый номер телефона:</span>
              <a href="#" class="contacts-block__phone">8 (800) 551-94-74</a>
            </div>

            <a href="#" class="button -telegram">
              <span>Написать нам в телеграм</span>
              <span class="button__icon">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M2.10225 7.96758L12.8264 3.21938C13.8843 2.72497 17.4738 1.14097 17.4738 1.14097C17.4738 1.14097 19.1314 0.448796 18.9916 2.13168C18.9456 2.82385 18.5794 5.24835 18.2097 7.8706L17.0598 15.6366C17.0598 15.6366 16.9678 16.7737 16.1859 16.9715C15.4039 17.1693 14.1143 16.2793 13.8843 16.0797C13.7003 15.9313 10.4346 13.7065 9.23694 12.6188C8.9132 12.3222 8.547 11.727 9.28294 11.0348C10.9406 9.40326 11.9184 8.37429 13.1125 7.08884C13.6662 6.49365 14.2164 5.10931 11.9166 6.79219L6.42941 10.4929C6.42941 10.4929 5.69348 10.9873 4.31183 10.5404C2.93195 10.0973 1.32208 9.50215 1.32208 9.50215C1.32208 9.50215 0.216411 8.75863 2.10225 7.96758Z"
                    stroke="white" stroke-width="2" />
                </svg>
              </span>
            </a>

            <div class="contacts-block__item">
              <span class="contacts-block__icon">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 8.02185C1 12.9431 5.2445 17.0127 7.12322 18.573C7.3921 18.7963 7.52815 18.9093 7.72875 18.9665C7.88495 19.0112 8.11484 19.0112 8.27104 18.9665C8.47201 18.9092 8.60711 18.7973 8.877 18.5731C10.7557 17.0128 15 12.9435 15 8.0223C15 6.15993 14.2625 4.37362 12.9498 3.05672C11.637 1.73982 9.85665 1 8.00012 1C6.1436 1 4.36303 1.73994 3.05026 3.05683C1.7375 4.37373 1 6.15948 1 8.02185Z"
                    stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M6.00003 7.0858C6.00003 8.20617 6.89546 9.1144 8.00004 9.1144C9.10462 9.1144 10.0001 8.20617 10.0001 7.0858C10.0001 5.96544 9.10462 5.0572 8.00004 5.0572C6.89546 5.0572 6.00003 5.96544 6.00003 7.0858Z"
                    stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              <span class="contacts-block__label">Адрес производства:</span>
              <address class="contacts-block__address">ООО “ГКЗ”, 352552, Краснодарский край, Мостовский район, станица
                Губская, тер. Промзона, д. 1</address>
            </div>

            <div class="contacts-block__item">
              <span class="contacts-block__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M2 7.46582L8.10764 12.078L8.10967 12.0797C8.78785 12.577 9.12714 12.8258 9.49876 12.922C9.82723 13.0069 10.1725 13.0069 10.501 12.922C10.8729 12.8258 11.2132 12.5762 11.8926 12.078L18 7.46582M17.8002 6.50526L12.2012 2.02239C11.506 1.46577 11.1581 1.18756 10.7715 1.07708C10.4304 0.979595 10.0692 0.974431 9.72552 1.06243C9.33603 1.16216 8.98087 1.43055 8.27052 1.9677L2.26953 6.50549C1.8038 6.85766 1.57123 7.03386 1.40332 7.25642C1.2546 7.45354 1.14377 7.67647 1.07624 7.91399C1 8.18216 1 8.47414 1 9.05803V15.2659C1 16.386 1 16.9463 1.21799 17.3742C1.40973 17.7505 1.71547 18.0562 2.0918 18.248C2.5192 18.4657 3.07899 18.4657 4.19691 18.4657H15.8031C16.921 18.4657 17.48 18.4657 17.9074 18.248C18.2837 18.0562 18.5905 17.7503 18.7822 17.3739C19 16.9465 19 16.3872 19 15.2693V8.99229C19 8.43514 19 8.15484 18.9287 7.89593C18.8651 7.66504 18.7595 7.44743 18.619 7.2535C18.4604 7.03458 18.2409 6.85809 17.8002 6.50526Z"
                    stroke="#C4161C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

              </span>

              <span class="contacts-block__label">Email для обращений розничных клиентов:</span>
              <a href="#" class="contacts-block__email">sales.gkz@gubskiy-kirpich.ru</a>
            </div>

            <div class="contacts-block__item">
              <span class="contacts-block__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M2 7.46582L8.10764 12.078L8.10967 12.0797C8.78785 12.577 9.12714 12.8258 9.49876 12.922C9.82723 13.0069 10.1725 13.0069 10.501 12.922C10.8729 12.8258 11.2132 12.5762 11.8926 12.078L18 7.46582M17.8002 6.50526L12.2012 2.02239C11.506 1.46577 11.1581 1.18756 10.7715 1.07708C10.4304 0.979595 10.0692 0.974431 9.72552 1.06243C9.33603 1.16216 8.98087 1.43055 8.27052 1.9677L2.26953 6.50549C1.8038 6.85766 1.57123 7.03386 1.40332 7.25642C1.2546 7.45354 1.14377 7.67647 1.07624 7.91399C1 8.18216 1 8.47414 1 9.05803V15.2659C1 16.386 1 16.9463 1.21799 17.3742C1.40973 17.7505 1.71547 18.0562 2.0918 18.248C2.5192 18.4657 3.07899 18.4657 4.19691 18.4657H15.8031C16.921 18.4657 17.48 18.4657 17.9074 18.248C18.2837 18.0562 18.5905 17.7503 18.7822 17.3739C19 16.9465 19 16.3872 19 15.2693V8.99229C19 8.43514 19 8.15484 18.9287 7.89593C18.8651 7.66504 18.7595 7.44743 18.619 7.2535C18.4604 7.03458 18.2409 6.85809 17.8002 6.50526Z"
                    stroke="#C4161C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

              </span>

              <span class="contacts-block__label">Email для обращений оптовых клиентов, строительных организаций и
                др.:</span>
              <a href="#" class="contacts-block__email">info@gubskiy-kirpich.ru</a>
            </div>

            <a href="#" class="button -red">
              <span class="button__text">Реквизиты</span>
              <span class="button__icon">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5 13L7 15L11 11M9 1.00087C8.90451 1 8.79728 1 8.67471 1H4.2002C3.08009 1 2.51962 1 2.0918 1.21799C1.71547 1.40973 1.40973 1.71547 1.21799 2.0918C1 2.51962 1 3.08009 1 4.2002V15.8002C1 16.9203 1 17.4801 1.21799 17.9079C1.40973 18.2842 1.71547 18.5905 2.0918 18.7822C2.51921 19 3.079 19 4.19694 19L11.8031 19C12.921 19 13.48 19 13.9074 18.7822C14.2837 18.5905 14.5905 18.2842 14.7822 17.9079C15 17.4805 15 16.9215 15 15.8036V7.32568C15 7.20296 15 7.09561 14.9991 7M9 1.00087C9.28564 1.00347 9.46634 1.01385 9.63884 1.05526C9.84291 1.10425 10.0379 1.18526 10.2168 1.29492C10.4186 1.41857 10.5918 1.59182 10.9375 1.9375L14.063 5.06298C14.4089 5.40889 14.5809 5.58136 14.7046 5.78319C14.8142 5.96214 14.8953 6.15726 14.9443 6.36133C14.9857 6.53376 14.9963 6.71451 14.9991 7M9 1.00087V3.8C9 4.9201 9 5.47977 9.21799 5.90759C9.40973 6.28392 9.71547 6.59048 10.0918 6.78223C10.5192 7 11.079 7 12.1969 7H14.9991M14.9991 7H15.0002"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "sections/promo.html" %}



{% endblock %}
