{% extends "layouts/base.html" %}

{% block content %}


<section class="home-hero">
  <div class="home-hero__content">
    <div class="home-hero-card">
      <div class="wrapper">
        <div class="home-hero-card__bg-picture">
          <img src="../assets/img/home-hero-card/1.jpg" alt="#" />
        </div>
        <div class="home-hero-card__details">
          <h2 class="title">Цоколь + стена = специальная цена</h2>
          <p class="home-hero-card__text">Пример описания специального предложения, его может не быть</p>
          <a href="#" class="button -icon-right -red-color">
            <span>Подробнее</span>
          </a>
        </div>

      </div>
    </div>
  </div>
  <div class="home-hero__navigation">
    <div class="wrapper">
      <div class="slider-navigation">
        <div class="slider-navigation__grid">
          <div class="slider-navigation__left">
            <button class="swiper-button -glass -small swiper-button-prev" type="button">
              <span class="swiper-button__icon">
                <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.875 1L21 5M21 5L16.875 9M21 5H1" stroke="#E67917" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </div>
          <div class="slider-navigation__center">
            <div class="swiper-pagination"></div>
          </div>
          <div class="slider-navigation__right">
            <button class="swiper-button -glass -small swiper-button-next" type="button">
              <span class="swiper-button__icon">
                <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.875 1L21 5M21 5L16.875 9M21 5H1" stroke="#E67917" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-hero__footer laptop-hide tablet-hide mobile-hide">
    <div class="wrapper">
      {% include "components/services-group.html" %}
    </div>
  </div>

</section>

<section class="section services-group-section desktop-hide">
  <div class="wrapper">
    {% include "components/services-group.html" %}
  </div>
</section>

<section class="category-preview-section">
  <div class="wrapper">

    <div class="category-preview-section__header">

      <div class="category-filter">
        <div class="category-filter__body">
          <div class="category-filter__grid">
            <p class="category-filter__label">Специально для Вас мы создали подборки</p>
            <div class="category-filter__options">
              <ul class="category-filter__list list-reset">
                <li class="category-filter__list-item">

                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Серийные продукты <small>(28)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>

                </li>

                <li class="category-filter__list-item">
                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Заказные продукты<small>(32)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>
                </li>

                <li class="category-filter__list-item">
                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Лидеры продаж<small>(10)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>

                </li>

                <li class="category-filter__list-item">

                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Модный выбор<small>(24)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="category-preview-section__body">

      <div class="text-and-button">
        <div class="text-and-button__left">
          <h2 class="title-two">Серийные продукты</h2>
        </div>
        <div class="text-and-button__right">

          <a href="#" class="button -small -white" data-target="modal-get-consultation">
            <span class="button__text">Перейти в каталог</span>
            <span class="button__icon -mod">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 8C7 8.55228 7.44772 9 8 9C8.55228 9 9 8.55228 9 8C9 7.44772 8.55228 7 8 7C7.44772 7 7 7.44772 7 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 8C1 8.55228 1.44772 9 2 9C2.55228 9 3 8.55228 3 8C3 7.44772 2.55228 7 2 7C1.44772 7 1 7.44772 1 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M7 2C7 2.55228 7.44772 3 8 3C8.55228 3 9 2.55228 9 2C9 1.44772 8.55228 1 8 1C7.44772 1 7 1.44772 7 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 2C1 2.55228 1.44772 3 2 3C2.55228 3 3 2.55228 3 2C3 1.44772 2.55228 1 2 1C1.44772 1 1 1.44772 1 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>

        </div>
      </div>

      {% include "components/catalog-products-preview.html" %}

    </div>


  </div>
</section>

<section class="category-preview-section -gray">
  <div class="wrapper">

    <div class="category-preview-section__body">

      <div class="text-and-button">
        <div class="text-and-button__left">
          <h2 class="title-two">Заказные продукты</h2>
        </div>
        <div class="text-and-button__right">

          <a href="#" class="button -small -white" data-target="modal-get-consultation">
            <span class="button__text">Перейти в каталог</span>
            <span class="button__icon -mod">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 8C7 8.55228 7.44772 9 8 9C8.55228 9 9 8.55228 9 8C9 7.44772 8.55228 7 8 7C7.44772 7 7 7.44772 7 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 8C1 8.55228 1.44772 9 2 9C2.55228 9 3 8.55228 3 8C3 7.44772 2.55228 7 2 7C1.44772 7 1 7.44772 1 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M7 2C7 2.55228 7.44772 3 8 3C8.55228 3 9 2.55228 9 2C9 1.44772 8.55228 1 8 1C7.44772 1 7 1.44772 7 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 2C1 2.55228 1.44772 3 2 3C2.55228 3 3 2.55228 3 2C3 1.44772 2.55228 1 2 1C1.44772 1 1 1.44772 1 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>

        </div>
      </div>

      {% include "components/catalog-products-preview.html" %}

    </div>


  </div>
</section>
{% include "sections/promo-section.html" %}

<section class="category-preview-section -gray">
  <div class="wrapper">

    <div class="category-preview-section__body">

      <div class="text-and-button">
        <div class="text-and-button__left">
          <h2 class="title-two">Заказные продукты</h2>
        </div>
        <div class="text-and-button__right">

          <a href="#" class="button -small -white" data-target="modal-get-consultation">
            <span class="button__text">Перейти в каталог</span>
            <span class="button__icon -mod">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 8C7 8.55228 7.44772 9 8 9C8.55228 9 9 8.55228 9 8C9 7.44772 8.55228 7 8 7C7.44772 7 7 7.44772 7 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 8C1 8.55228 1.44772 9 2 9C2.55228 9 3 8.55228 3 8C3 7.44772 2.55228 7 2 7C1.44772 7 1 7.44772 1 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M7 2C7 2.55228 7.44772 3 8 3C8.55228 3 9 2.55228 9 2C9 1.44772 8.55228 1 8 1C7.44772 1 7 1.44772 7 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 2C1 2.55228 1.44772 3 2 3C2.55228 3 3 2.55228 3 2C3 1.44772 2.55228 1 2 1C1.44772 1 1 1.44772 1 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>

        </div>
      </div>

      {% include "components/catalog-products-preview.html" %}

    </div>


  </div>
</section>

<section class="category-preview-section">
  <div class="wrapper">

    <div class="category-preview-section__body">

      <div class="text-and-button">
        <div class="text-and-button__left">
          <h2 class="title-two">Заказные продукты</h2>
        </div>
        <div class="text-and-button__right">

          <a href="#" class="button -small -white" data-target="modal-get-consultation">
            <span class="button__text">Перейти в каталог</span>
            <span class="button__icon -mod">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 8C7 8.55228 7.44772 9 8 9C8.55228 9 9 8.55228 9 8C9 7.44772 8.55228 7 8 7C7.44772 7 7 7.44772 7 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 8C1 8.55228 1.44772 9 2 9C2.55228 9 3 8.55228 3 8C3 7.44772 2.55228 7 2 7C1.44772 7 1 7.44772 1 8Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M7 2C7 2.55228 7.44772 3 8 3C8.55228 3 9 2.55228 9 2C9 1.44772 8.55228 1 8 1C7.44772 1 7 1.44772 7 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M1 2C1 2.55228 1.44772 3 2 3C2.55228 3 3 2.55228 3 2C3 1.44772 2.55228 1 2 1C1.44772 1 1 1.44772 1 2Z"
                  stroke="#E67917" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>

        </div>
      </div>

      {% include "components/catalog-products-preview.html" %}

    </div>


  </div>
</section>

<div class="photo-slider">
  <div class="wrapper">
    <div class="photo-slider__container">
      <div class="swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <a href="./assets/img/photo-card/1.jpg" class="photo-card" data-fslightbox="photo-slider-gallery">
              <img src="./assets/img/photo-card/1.jpg" alt="#"/>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./assets/img/photo-card/2.jpg" class="photo-card" data-fslightbox="photo-slider-gallery">
              <img src="./assets/img/photo-card/2.jpg" alt="#"/>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./assets/img/photo-card/3.jpg" class="photo-card" data-fslightbox="photo-slider-gallery">
              <img src="./assets/img/photo-card/3.jpg" alt="#"/>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./assets/img/photo-card/4.jpg" class="photo-card" data-fslightbox="photo-slider-gallery">
              <img src="./assets/img/photo-card/4.jpg" alt="#"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
