{% extends "layouts/base.html" %}

{% block content %}

<section class="section tech-section">
  <div class="wrapper">
    <h1>Список страниц проекта</h1>
    <p>Текстовое описание или инструкции</p>
    <ol>
      <li><a href="./home-page.html">Главная +</a></li>
      <li><a href="./catalog-page.html">Каталог продукции +</a></li>
      <li><a href="./category-page.html">Категория каталога +</a></li>
      <!-- <li><a href="./product-page.html">Товар</a></li>  -->
      <li><a href="./contact-page.html">Контакты +</a></li>
      <li><a href="./portfolio-page.html">Фотогалерея +</a></li>
      <!-- <li><a href="./calculator-page.html">Калькулятор</a></li> -->
      <!-- <li><a href="./where-to-buy-page.html">Где купить</a></li> -->
      <li><a href="./production-page.html">Производство +</a></li>
      <li><a href="./delivery-page.html">Доставка</a></li>
      <li><a href="./404-error-page.html">404 +</a></li>
    </ol>
    <br>
    <ol>
      <li><a href="./test-page.html">Техническая страница компонентов для разработки и тестирования</a></li>
      <li>
        <a href="#" class="button" data-target="modal-cookie">Показать окно cookie</a>
      </li>
    </ol>
  </div>
</section>

{% endblock %}
