{% extends "layouts/promo-big-footer.html" %}

{% set bodyClass = "promo-small" %}
{% set title = "Производство" %}
{% set pageTitle = "Производство" %}
{% set breadcrumbs = [
    {url: '/', text: 'Главная'},
    {url: '/catalog.html', text: 'Производство'}
] %}

{% block content %}
    {% include "sections/hero-inner-page.html" %}

    <section class="section">
      <div class="wrapper">
        <div class="container">



          <div class="main-and-aside">
            <div class="main-and-aside__large">
              <h2 class="title-two">ООО «Губский кирпичный завод» ("ГКЗ") производит керамический кирпич высочайшего
                качества с 1996 года</h2>
            </div>
            <div class="main-and-aside__small">
              <div class="achievement">
                <img src="./assets/img/achievement.png" alt="#">
              </div>

            </div>
          </div>


          <p class="text">Мощность предприятия позволяет выпускать в год более 35 млн.шт. керамического кирпича
            различных цветов, а так же около 600 тыс.шт. песчанно-цементной продукции. Изделия производятся с помощью
            новейшего оборудования из Италии, Германии, Австрии. На производстве внедрено управление технологическим
            процессом от компании Siemens, благодаря чему продукция Губского кирпича соответствует самым строгим
            стандартам качества и безопасности.</p>

          <div class="slider-group-with-thumbnails">
            <div class="slider-group-with-thumbnails__top">

              <div class="simple-slider-one">
                <div class="swiper">

                  <div class="swiper-wrapper">

                    <div class="swiper-slide">
                      <!-- слайд с фотографией  -->
                      <div class="slide-photo image-hover">
                        <a class="slide-photo__link" href="./assets/img/content/1.jpg"
                          data-fslightbox="slider-photo-gallery">
                          <img src="./assets/img/content/1.jpg" alt="#" />
                        </a>
                      </div>

                    </div>

                    <div class="swiper-slide">
                      <!-- слайд с кнопкой просмотра видео -->
                      <div class="slide-photo image-hover -video">
                        <a class="slide-photo__link" href="./assets/video/video.mp4" title="Смотреть видео"
                          data-fslightbox="video-local" data-autoplay>
                          <img src="./assets/img/content/1.jpg" alt="#" />

                          <div class="button-play">
                            <svg width="21" height="22" viewBox="0 0 21 22" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M1 18.2765V3.72445C1 2.52449 1 1.92385 1.25347 1.56881C1.47469 1.25894 1.81567 1.05549 2.19422 1.00685C2.62779 0.951142 3.15957 1.23368 4.22159 1.79797L17.9157 9.07402L17.9207 9.07621C19.0943 9.69981 19.6814 10.0118 19.874 10.4275C20.042 10.7902 20.042 11.2089 19.874 11.5716C19.6811 11.988 19.0927 12.3012 17.9157 12.9265L4.22159 20.2026C3.15881 20.7673 2.62795 21.0487 2.19422 20.993C1.81567 20.9444 1.47469 20.7409 1.25347 20.4311C1 20.076 1 19.4765 1 18.2765Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                          </div>
                        </a>
                      </div>

                    </div>

                    <div class="swiper-slide">
                      <!-- слайд с фотографией  -->
                      <div class="slide-photo image-hover">
                        <a class="slide-photo__link" href="./assets/img/content/1.jpg"
                          data-fslightbox="slider-photo-gallery">
                          <img src="./assets/img/content/1.jpg" alt="#" />
                        </a>
                      </div>

                    </div>

                    <div class="swiper-slide">
                      <!-- слайд с кнопкой просмотра видео -->
                      <div class="slide-photo image-hover -video">
                        <a class="slide-photo__link" href="./assets/video/video.mp4" title="Смотреть видео"
                          data-fslightbox="video-local" data-autoplay>
                          <img src="./assets/img/content/1.jpg" alt="#" />

                          <div class="button-play">
                            <svg width="21" height="22" viewBox="0 0 21 22" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M1 18.2765V3.72445C1 2.52449 1 1.92385 1.25347 1.56881C1.47469 1.25894 1.81567 1.05549 2.19422 1.00685C2.62779 0.951142 3.15957 1.23368 4.22159 1.79797L17.9157 9.07402L17.9207 9.07621C19.0943 9.69981 19.6814 10.0118 19.874 10.4275C20.042 10.7902 20.042 11.2089 19.874 11.5716C19.6811 11.988 19.0927 12.3012 17.9157 12.9265L4.22159 20.2026C3.15881 20.7673 2.62795 21.0487 2.19422 20.993C1.81567 20.9444 1.47469 20.7409 1.25347 20.4311C1 20.076 1 19.4765 1 18.2765Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                          </div>
                        </a>
                      </div>

                    </div>

                    <div class="swiper-slide">
                      <!-- слайд с фотографией  -->
                      <div class="slide-photo image-hover">
                        <a class="slide-photo__link" href="./assets/img/content/1.jpg"
                          data-fslightbox="slider-photo-gallery">
                          <img src="./assets/img/content/1.jpg" alt="#" />
                        </a>
                      </div>

                    </div>

                    <div class="swiper-slide">
                      <!-- слайд с кнопкой просмотра видео -->
                      <div class="slide-photo image-hover -video">
                        <a class="slide-photo__link" href="./assets/video/video.mp4" title="Смотреть видео"
                          data-fslightbox="video-local" data-autoplay>
                          <img src="./assets/img/content/1.jpg" alt="#" />

                          <div class="button-play">
                            <svg width="21" height="22" viewBox="0 0 21 22" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M1 18.2765V3.72445C1 2.52449 1 1.92385 1.25347 1.56881C1.47469 1.25894 1.81567 1.05549 2.19422 1.00685C2.62779 0.951142 3.15957 1.23368 4.22159 1.79797L17.9157 9.07402L17.9207 9.07621C19.0943 9.69981 19.6814 10.0118 19.874 10.4275C20.042 10.7902 20.042 11.2089 19.874 11.5716C19.6811 11.988 19.0927 12.3012 17.9157 12.9265L4.22159 20.2026C3.15881 20.7673 2.62795 21.0487 2.19422 20.993C1.81567 20.9444 1.47469 20.7409 1.25347 20.4311C1 20.076 1 19.4765 1 18.2765Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                          </div>
                        </a>
                      </div>

                    </div>

                    <div class="swiper-slide">
                      <!-- слайд с фотографией  -->
                      <div class="slide-photo image-hover">
                        <a class="slide-photo__link" href="./assets/img/content/1.jpg"
                          data-fslightbox="slider-photo-gallery">
                          <img src="./assets/img/content/1.jpg" alt="#" />
                        </a>
                      </div>

                    </div>

                    <div class="swiper-slide">
                      <!-- слайд с кнопкой просмотра видео -->
                      <div class="slide-photo image-hover -video">
                        <a class="slide-photo__link" href="./assets/video/video.mp4" title="Смотреть видео"
                          data-fslightbox="video-local" data-autoplay>
                          <img src="./assets/img/content/1.jpg" alt="#" />

                          <div class="button-play">
                            <svg width="21" height="22" viewBox="0 0 21 22" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M1 18.2765V3.72445C1 2.52449 1 1.92385 1.25347 1.56881C1.47469 1.25894 1.81567 1.05549 2.19422 1.00685C2.62779 0.951142 3.15957 1.23368 4.22159 1.79797L17.9157 9.07402L17.9207 9.07621C19.0943 9.69981 19.6814 10.0118 19.874 10.4275C20.042 10.7902 20.042 11.2089 19.874 11.5716C19.6811 11.988 19.0927 12.3012 17.9157 12.9265L4.22159 20.2026C3.15881 20.7673 2.62795 21.0487 2.19422 20.993C1.81567 20.9444 1.47469 20.7409 1.25347 20.4311C1 20.076 1 19.4765 1 18.2765Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                          </div>
                        </a>
                      </div>

                    </div>

                  </div>
                </div>

                <button class="swiper-button swiper-button-prev" type="button">
                  <span class="swiper-button__icon">
                    <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.875 1L21 5M21 5L16.875 9M21 5H1" stroke="#E67917" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                </button>
                <button class="swiper-button swiper-button-next" type="button">
                  <span class="swiper-button__icon">
                    <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.875 1L21 5M21 5L16.875 9M21 5H1" stroke="#E67917" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                </button>
              </div>

            </div>
            <div class="slider-group-with-thumbnails__bottom">

              <div class="slider-thumbnails">
                <div class="slider-thumbnails__grid">

                  <div class="slider-thumbnails__left">

                    <button class="swiper-button -position-reset swiper-button-prev" type="button">
                      <span class="swiper-button__icon">
                        <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.875 1L21 5M21 5L16.875 9M21 5H1" stroke="#E67917" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </span>
                    </button>

                  </div>

                  <div class="slider-thumbnails__center">

                    <div class="swiper">
                      <div class="swiper-wrapper">

                        <div class="swiper-slide">

                          <div class="slide-thumbnail">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                        <div class="swiper-slide">

                          <div class="slide-thumbnail -video">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                        <div class="swiper-slide">

                          <div class="slide-thumbnail">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                        <div class="swiper-slide">

                          <div class="slide-thumbnail -video">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                        <div class="swiper-slide">

                          <div class="slide-thumbnail">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                        <div class="swiper-slide">

                          <div class="slide-thumbnail -video">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                        <div class="swiper-slide">

                          <div class="slide-thumbnail">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                        <div class="swiper-slide">

                          <div class="slide-thumbnail -video">
                            <a class="slide-thumbnail__link">
                              <div class="slide-thumbnail__image">
                                <img src="./assets/img/content/1.jpg" alt="#">
                              </div>
                            </a>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>

                  <div class="slider-thumbnails__right">

                    <button class="swiper-button -position-reset swiper-button-next" type="button">
                      <span class="swiper-button__icon">
                        <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.875 1L21 5M21 5L16.875 9M21 5H1" stroke="#E67917" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </span>
                    </button>

                  </div>
                </div>
              </div>

            </div>
          </div>

          <hr class="border">

          <h3 class="title-three">Пример подзаголовка страницы</h3>
          <p>«Песчаная дюна»- прекрасный выбор для тех, кто ценит естественную красоту и спокойствие. Этот цвет –
            воплощение гармонии и природной элегантности. Он напоминает теплый песок пустыни, освещенный закатным
            солнцем, создавая атмосферу умиротворения и стабильности. Дом, облицованный этим кирпичом, будет выглядеть
            благородно и респектабельно, сливаясь с окружающей природой. Кирпич «Песчаная дюна» перенесет эту магию
            природы к Вам домой. Он окутает Ваш дом атмосферой спокойствия, умиротворения и безмятежности, создавая
            ощущение надежности и стабильности. «Песчаная дюна» – это не просто кирпич, это символ вечности, прочности и
            естественной красоты. Как песчинки, прошедшие испытание временем, этот кирпич будет надежно защищать Ваш дом
            от любых невзгод, даря Вам ощущение безопасности и комфорта на долгие годы. </p>

          <div class="image -full image-hover">
            <img src="./assets/img/content/1.jpg" alt="#" />
          </div>

          <h4 class="title-four decorate">Керамический кирпич (Н4)</h4>
          <p>Мы производим кирпич различных форм, размеров и цветов, чтобы удовлетворить любые потребности клиентов.
            Независимо от того, нужен ли облицовочный кирпич для фасада или полнотелый кирпич для несущих конструкций, у
            нас вы найдете оптимальный вариант. Все изделия проходят строгий контроль качества и соответствуют
            современным стандартам строительства.</p>
          <h4 class="title-four decorate">Керамический кирпич (Н4)</h4>
          <ul>
            <li>Мы производим кирпич различных форм, размеров и цветов;</li>
            <li>Чтобы удовлетворить любые потребности клиентов; </li>
            <li>Независимо от того, нужен ли облицовочный кирпич для фасада.</li>
          </ul>
          <h4 class="title-four decorate">Керамический кирпич (Н4)</h4>
          <ol>
            <li>Мы производим кирпич различных форм, размеров и цветов;</li>
            <li>Чтобы удовлетворить любые потребности клиентов; </li>
            <li>Независимо от того, нужен ли облицовочный кирпич для фасада.</li>
          </ol>

        </div>
      </div>
    </section>

    {% include "sections/promo.html" %}


{% endblock %}
