{% extends "layouts/promo-big-footer.html" %}

{% set bodyClass = "promo-small" %}
{% set title = "Пример заголовка акции" %}
{% set pageTitle = "Пример заголовка акции" %}
{% set breadcrumbs = [
{url: '/', text: 'Главная'},
{url: '/', text: 'Акции'},
{url: '/catalog.html', text: 'Пример заголовка акции'}
] %}

{% block content %}

{% include "sections/hero-inner-page.html" %}

<section class="section">
  <div class="wrapper">
    <div class="container">


      <div class="image -full image-hover">
        <img src="{{ assets }}/img/content/1.jpg" alt="#" />
      </div>
      <br />

      <h3 class="title-three">«Губский кирпичный завод» зовет строить будущее!Устали от типовых проек-----тов?Давайте
        создавать смелые, уникальные решения, достойные новой реальности.Пришло Время Строить!</h3>


      <p>Мы ищем тех, кто умеет не просто ровно класть кирпич, кто своими руками создает свою репутацию. Тех, кто видит
        в
        чертежах не линии, а чьё-то будущее семейное гнездо, кто в декоре видит душу, а не только удобство и уют.</p>

      <b>Вам стоит участвовать!</b>

      <p>Бригадир. Утвердить свою репутацию и заработать 50 000 рублей* за сертифицированную кладку!
        Архитектор. Заявить о себе: ваши объекты и визуализации увидит производитель, который ценит качество. Плюс
        получить 30 000 рублей* призовых!</p>
      <p>Дизайнер. Получить признание экспертов и в дополнение к высокой оценке — 10 000 рублей* наградных!
        * — суммы указаны до вычета НДФЛ.</p>

      <p>Оценка проектов проводится удалённо для работ архитекторов и дизайнеров. Оценка работ бригадиров каменщиков
        производится с выездом на объект.</p>
        <br/>

      <h2 class="title-four">В 2026 году конкурс проводится в три этапа. У вас есть шанс взять приз трижды!</h2>
      <p>Итоги подводим 10 июля 2026 года, 10 сентября 2026 года и 10 декабря 2026 года.</p>

      <p>Как стартануть? Просто заполнить и прислать заявку. Дальше мы свяжемся с вами, чтобы подтвердить ваше участие и
        рассказать все детали конкурса.</p>

      <b>Время строить!</b>
      <b>Время наполнять жизнью!</b>
      <b>Время создавать репутацию!</b>
      <b>Время смелых проектов для новой реальности!</b>

    </div>
  </div>
</section>

{% include "sections/promo-4.html" %}


{% endblock %}
