<section class="section">
  <div class="wrapper">

    <div class="category-preview-section__header">

      <div class="category-sorter">
        <div class="category-sorter__grid">
          <div class="category-sorter__col">
            <span class="label">Цвет кирпича:</span>
            <!-- Dropdown (BEM) для выбора цвета кирпича -->
            <div class="dropdown -mod-height -full-w" data-dropdown>
              <!-- Кнопка-триггер -->
              <button class="dropdown__control" type="button" aria-haspopup="listbox" aria-expanded="false">
                <span class="dropdown__value" data-dropdown-value>Любой цвет</span>
                <span class="dropdown__icon" aria-hidden="true">
                  <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L7 7L1 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
              </button>

              <!-- Выпадающий список -->
              <div class="dropdown__menu" hidden>
                <ul class="dropdown__list" role="listbox" tabindex="-1">
                  <li class="dropdown__option dropdown__option--selected" role="option" aria-selected="true"
                    tabindex="0" data-value="any">
                    Любой цвет
                  </li>
                  <li class="dropdown__option" role="option" tabindex="0" data-value="red">
                    Красный
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="brown">Коричневый</li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="terracotta">
                    Терракотовый
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="yellow">
                    Желтый
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="gray">
                    Серый
                  </li>
                </ul>
              </div>

              <!-- Скрытое поле для формы -->
              <input class="dropdown__input" type="hidden" name="brick-color" value="any">

            </div>
          </div>
          <div class="category-sorter__col">
            <span class="label">Типоразмер:</span>
            <!-- Dropdown (BEM) для выбора типоразмера кирпича -->
            <div class="dropdown -mod-height -full-w" data-dropdown>
              <!-- Кнопка-триггер -->
              <button class="dropdown__control" type="button" aria-haspopup="listbox" aria-expanded="false">
                <span class="dropdown__value" data-dropdown-value>Любой размер</span>
                <span class="dropdown__icon" aria-hidden="true">
                  <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L7 7L1 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
              </button>

              <!-- Выпадающий список -->
              <div class="dropdown__menu" hidden>
                <ul class="dropdown__list" role="listbox" tabindex="-1">
                  <li class="dropdown__option dropdown__option--selected" role="option" aria-selected="true"
                    tabindex="0" data-value="any">
                    Любой размер
                  </li>
                  <li class="dropdown__option" role="option" tabindex="0" data-value="1-nf">
                    1 НФ (250×120×65 мм)
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="1-4-nf">
                    1,4 НФ (250×120×88 мм)
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="2-1-nf">
                    2,1 НФ (250×120×138 мм)
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="0-5-nf">
                    0,5 НФ (250×60×65 мм)
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="euro">
                    Евро (250×85×65 мм)
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="modular">
                    Модульный (288×138×65 мм)
                  </li>
                </ul>
              </div>

              <!-- Скрытое поле для формы -->
              <input class="dropdown__input" type="hidden" name="brick-size" value="any">
            </div>
          </div>
          <div class="category-sorter__col">
            <span class="label">Сортировка:</span>
            <!-- Dropdown (BEM) для выбора сортировки (компактный) -->
            <div class="dropdown -mod-height -full-w" data-dropdown>
              <!-- Кнопка-триггер -->
              <button class="dropdown__control" type="button" aria-haspopup="listbox" aria-expanded="false">
                <span class="dropdown__value" data-dropdown-value>По возрастанию цены</span>
                <span class="dropdown__icon" aria-hidden="true">
                  <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L7 7L1 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
              </button>

              <!-- Выпадающий список -->
              <div class="dropdown__menu" hidden>
                <ul class="dropdown__list" role="listbox" tabindex="-1">
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="price-desc">
                    По популярности
                  </li>
                  <li class="dropdown__option dropdown__option--selected" role="option" tabindex="0" data-value="price-asc">
                    По возрастанию цены
                  </li>
                  <li class="dropdown__option" role="option" aria-selected="true" tabindex="-1" data-value="price-desc">
                    По убыванию цены
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="name-asc">
                    По алфавиту
                  </li>
                  <li class="dropdown__option" role="option" tabindex="-1" data-value="date-desc">
                    По дате публикации
                  </li>
                </ul>
              </div>

              <!-- Скрытое поле для формы -->
              <input class="dropdown__input" type="hidden" name="sort" value="price-desc">
            </div>
          </div>
        </div>
      </div>

      <div class="category-filter">
        <div class="category-filter__body">
          <div class="category-filter__grid">
            <p class="category-filter__label">Специально для Вас мы создали подборки</p>

            <div class="category-filter__options">
              <ul class="category-filter__list list-reset">
                <li class="category-filter__list-item">

                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Серийные продукты <small>(28)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>

                </li>

                <li class="category-filter__list-item">
                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Заказные продукты<small>(32)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>
                </li>

                <li class="category-filter__list-item">
                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Лидеры продаж<small>(10)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>

                </li>

                <li class="category-filter__list-item">

                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Модный выбор<small>(24)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="catalog-products-preview">
      <ul class="catalog-products-preview__list list-reset">


        {% include "components/catalog-card-preview/1.html" %}
        {% include "components/catalog-card-preview/2.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}


        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}

        {% include "components/catalog-card-preview/1.html" %}
        {% include "components/catalog-card-preview/2.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}

        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}


      </ul>
    </div>

    <div class="pagination">

      <button class="button -red -prev -biz-size">
        <span class="button__text">Предыдущая</span>
        <span class="button__icon">
          <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>

      <div class="pagination__pages">
        <a class="pagination__button -active">1</a>
        <a class="pagination__button" href="#">2</a>
        <a class="pagination__button" href="#">3</a>
        <a class="pagination__button mobile-hide" href="#">4</a>

        <a class="pagination__button -disable">...</a>

        <a class="pagination__button" href="#">12</a>
      </div>

      <button class="button -red -next -biz-size">
        <span class="button__text">Следующая</span>
        <span class="button__icon">
          <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>
    </div>


  </div>
</section>
