<section class="section">
  <div class="wrapper">

    <div class="category-preview-section__header">

      <div class="category-sorter">
        <div class="category-sorter__grid">
          <div class="category-sorter__col">

            <div class="custom-select">

              <label for="brick-color">Цвет кирпича:</label>
              <div class="custom-select__wrapper">
                <select id="brick-color" name="brick-colors" multiple multiple size="1">
                  <option value="бежевый" selected>Бежевый</option>
                  <option value="белый">Белый</option>
                  <option value="бордовый">Бордовый</option>
                  <option value="желтый">Желтый</option>
                  <option value="зеленый">Зеленый</option>
                  <option value="коричневый">Коричневый</option>
                  <option value="красный" selected>Красный</option>
                  <option value="оранжевый">Оранжевый</option>
                  <option value="розовый">Розовый</option>
                  <option value="серый">Серый</option>
                  <option value="синий">Синий</option>
                  <option value="фиолетовый">Фиолетовый</option>
                  <option value="черный">Черный</option>
                </select>
              </div>
            </div>
          </div>
          <div class="category-sorter__col">
            <div class="custom-select">
              <label for="brick-size">Выберите размер кирпича:</label>
              <div class="custom-select__wrapper">
                <select id="brick-size" name="size" multiple multiple size="1">
                  <option value="">Выберите размер</option>
                  <option value="single">Одинарный (250×120×65 мм)</option>
                  <option value="one-and-a-half">Полуторный (250×120×88 мм)</option>
                  <option value="double">Двойной (250×120×138 мм)</option>
                  <option value="euro">Евро (250×85×65 мм)</option>
                  <option value="modular">Модульный (288×138×65 мм)</option>
                  <option value="thin">Тонкий (250×60×65 мм)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="category-sorter__col">
            <div class="custom-select">
              <label for="sort-option">Сортировка:</label>
              <div class="custom-select__wrapper">
                <select id="sort-option" name="sort">
                  <option value="price_asc">по возрастанию цены</option>
                  <option value="price_desc">по убыванию цены</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="category-filter">
        <div class="category-filter__body">
          <div class="category-filter__grid">
            <p class="category-filter__label">Специально для Вас мы создали подборки</p>
            <div class="category-filter__options">
              <ul class="category-filter__list list-reset">
                <li class="category-filter__list-item">

                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Серийные продукты <small>(28)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>

                </li>

                <li class="category-filter__list-item">
                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Заказные продукты<small>(32)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>
                </li>

                <li class="category-filter__list-item">
                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Лидеры продаж<small>(10)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>

                </li>

                <li class="category-filter__list-item">

                  <a href="#" class="button -small -white" data-target="modal-get-consultation">
                    <span class="button__text">Модный выбор<small>(24)</small></span>
                    <span class="button__icon">
                      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="catalog-products-preview">
      <ul class="catalog-products-preview__list list-reset">


        {% include "components/catalog-card-preview/1.html" %}
        {% include "components/catalog-card-preview/2.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}


        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}

        {% include "components/catalog-card-preview/1.html" %}
        {% include "components/catalog-card-preview/2.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}

        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/3.html" %}
        {% include "components/catalog-card-preview/mini-slider.html" %}


      </ul>
    </div>

    <div class="pagination">

      <button class="button -red -prev">
        <span class="button__text">Предыдущая</span>
        <span class="button__icon">
          <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>

      <div class="pagination__pages">
        <a class="pagination__button -active">1</a>
        <a class="pagination__button" href="#">2</a>
        <a class="pagination__button" href="#">3</a>
        <a class="pagination__button mobile-hide" href="#">4</a>

        <a class="pagination__button -disable">...</a>

        <a class="pagination__button" href="#">12</a>
      </div>

      <button class="button -red -next">
        <span class="button__text">Следующая</span>
        <span class="button__icon">
          <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>
    </div>


  </div>
</section>
