<!-- модальное окно Заказать звонок -->
<section class="modal js-modal" id="modal-get-consultation">
  <div class="wrapper">

    <div class="modal__body">

      <h2 class="title-two">Заказать звонок</h2>
      <p class="text">Заполните простую форму и наши специалисты свяжутся с Вами в ближайшее время и проконсультируют по
        всем интересующим вопросам! </p>

      {% include "components/forms/contact-form-2.html" %}

      <button class="button-close js-close-modal" type="button" title="Закрыть окно"></button>
    </div>
  </div>
</section>

<!-- модальное окно Написать отзыв -->
<section class="modal js-modal" id="modal-write-review">
  <div class="wrapper">

    <div class="modal__body">

      <h2 class="title-two">Написать отзыв</h2>
      <p class="text">Заполните простую форму и в ближайшее время Ваш отзыв отобразится на сайте.</p>

      {% include "components/forms/contact-form-3.html" %}

      <button class="button-close js-close-modal" type="button" title="Закрыть окно"></button>
    </div>
  </div>
</section>
<!-- модальное окно с мобильным фильтром -->
<section class="modal -full js-modal" id="modal-mobile-filter">


  <div class="modal__body">

    <h2 class="title-two">Фильтрация по региону</h2>

    <div class="filter-group">
      <div class="filter-group__body">
        <div class="filter-group__grid">

          <div class="filter-group__col">
            <!-- Accordion -->
            <div class="city-accordion" role="region-mobile" aria-label="Выбор региона и города">

              <div class="city-accordion__item">
                <button class="city-accordion__trigger" type="button" aria-expanded="true"
                  aria-controls="city-accordion-panel-krasnodar-krai-modal"
                  id="city-accordion-trigger-krasnodar-krai-modal">
                  <span class="city-accordion__title">Краснодарский край</span>
                  <span class="city-accordion__icon" aria-hidden="true"></span>
                </button>

                <div class="city-accordion__panel" id="city-accordion-panel-krasnodar-krai-modal" role="region"
                  aria-labelledby="city-accordion-trigger-krasnodar-krai-modal">
                  <div class="city-accordion__content">
                    <ul class="city-accordion__list" role="list">
                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="all" checked />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Все</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="anapa" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Анапа</span>
                        </label>
                      </li>

                      <!-- ...остальные города без изменений... -->
                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="armavir" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Армавир</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="belorechensk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Белореченск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="krasnodar" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Краснодар</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="kurganinsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Курганинск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="labinsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Лабинск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="afipskiy" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">п. Афипский</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="mostovskoy" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">п. Мостовской</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="sochi" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Сочи</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="ladogskaya" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">ст-ца Ладожская</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="tbilisskaya" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">ст. Тбилисская</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="ust-labinsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Усть Лабинск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[krasnodar-krai][]"
                            value="krasnaya-polyana" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">х. Красная поляна</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="filter-group__col">
            <!-- Accordion -->
            <div class="city-accordion" role="region-mobile" aria-label="Выбор региона и города">

              <div class="city-accordion__item">
                <button class="city-accordion__trigger" type="button" aria-expanded="true"
                  aria-controls="city-accordion-panel-rostov-oblast-modal"
                  id="city-accordion-trigger-rostov-oblast-modal">
                  <span class="city-accordion__title">Ростовская область</span>
                  <span class="city-accordion__icon" aria-hidden="true"></span>
                </button>

                <div class="city-accordion__panel" id="city-accordion-panel-rostov-oblast-modal" role="region"
                  aria-labelledby="city-accordion-trigger-rostov-oblast-modal">
                  <div class="city-accordion__content">
                    <ul class="city-accordion__list" role="list">
                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="all" checked />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Все</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="rostov-on-don" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Ростов-на-Дону</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="tagangrog" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Таганрог</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="shakhty" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Шахты</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="volgodonsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Волгодонск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="novocherkassk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Новочеркасск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="bataysk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Батайск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="novoshakhtinsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Новошахтинск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="kamensk-shahtinskiy" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Каменск-Шахтинский</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="azov" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Азов</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="gukovo" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Гуково</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="salsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Сальск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="donetsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Донецк</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="belaya-kalitva" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Белая Калитва</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="morozovsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Морозовск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="krasny-sulin" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Красный Сулин</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="semikarakorsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Семикаракорск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="tsimlyansk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Цимлянск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="zernograd" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Зерноград</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[rostov-oblast][]"
                            value="proletarsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Пролетарск</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="filter-group__col">
            <div class="city-accordion" role="region-mobile" aria-label="Выбор региона и города">

              <div class="city-accordion__item">
                <button class="city-accordion__trigger" type="button" aria-expanded="true"
                  aria-controls="city-accordion-panel-stavropol-krai-modal"
                  id="city-accordion-trigger-stavropol-krai-modal">
                  <span class="city-accordion__title">Ставропольский край</span>
                  <span class="city-accordion__icon" aria-hidden="true"></span>
                </button>

                <div class="city-accordion__panel" id="city-accordion-panel-stavropol-krai-modal" role="region"
                  aria-labelledby="city-accordion-trigger-stavropol-krai-modal">
                  <div class="city-accordion__content">
                    <ul class="city-accordion__list" role="list">
                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="all" checked />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Все</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="stavropol" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Ставрополь</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="pyatigorsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Пятигорск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="kislovodsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Кисловодск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="essentuki" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Ессентуки</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="nevinnomyssk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Невинномысск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="mikhaylovsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Михайловск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="budennovsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Будённовск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="georgievsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Георгиевск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="mineralnye-vody" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Минеральные Воды</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="izobilny" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Изобильный</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="svetlograd" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Светлоград</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="zelenokumsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Зеленокумск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="blagodarny" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Благодарный</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="novoaleksandrovsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Новоалександровск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="novopavlovsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Новопавловск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="kropotkin" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Кропоткин</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="yeysk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Ейск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="kurganinsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Курганинск</span>
                        </label>
                      </li>

                      <li class="city-accordion__option">
                        <label class="city-accordion__label">
                          <input class="city-accordion__checkbox" type="checkbox" name="cities[stavropol-krai][]"
                            value="labinsk" />
                          <span class="city-accordion__checkmark" aria-hidden="true"></span>
                          <span class="city-accordion__text">Лабинск</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- список выбранных параметров у фильтра ИХ НА СТРАНИЦЕ ДВА тут и в другом месте!!! -->
    <div class="mobile-filter-selected-options">
      <div class="mobile-filter-selected-options__grid">
        <div class="mobile-filter-selected-options__col"><span class="mobile-filter-selected-options__text">Фильтров:
            <b>2</b></span></div>
        <div class="mobile-filter-selected-options__col">
          <button class="reset-button">
            <span class="reset-button__text">Очистить</span>
            <span class="reset-button__icon">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.9999 16.9999L9 9M9 9L1 1M9 9L17 1M9 9L1 17" stroke="#C4161C" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </button>
        </div>
      </div>


    </div>

    <button class="button-close js-close-modal" type="button" title="Закрыть окно"></button>
  </div>

</section>

<!-- модальное окно с длинным отзывом-->
<section class="modal js-modal" id="modal-review-details">
  <div class="wrapper">

    <div class="modal__body">

      <article class="review-preview-card">
        <a class="review-preview-card__link" href="#" data-target="modal-review-details">
          <div class="review-preview-card__header">
            <div class="review-preview-card__header-left">
              <div class="review-preview-card__meta">
                <time class="review-preview-card__date" datetime="2025-10-18">18 \ 10 \ 2025</time>
                <p class="review-preview-card__author">Людмила Прокофьевна</p>
              </div>
            </div>
            <div class="review-preview-card__header-right">
              <div class="review-preview-card__avatar">
                <img src="{{ assets }}/img/review-preview-card/1.jpg" alt="#">
              </div>
            </div>




          </div>
          <div class="review-preview-card__content">

            <div class="review-preview-card__text">
              <p>Отдыхали в Мостовском на термоисточниках. Узнали, что на Губском кирпичном заводе проводятся экскурсии.
                Договорились, нас очень тепло и радушно встретили, как дорогих гостей! Хочется отметить прекрасную
                подготовку-выдали жилеты, защитные каски, респираторы для безопасного и комфортного нахождения в цехах,
                аудиогиды с наушниками, чтобы лучше было слышно экскурсовода.</p>
              <p>Посмотрели фильм-презентацию, посетили Музей завода, производственные цеха, лабораторию.</p>
              <p>Мы даже не ожидали, что будет так интересно! Столько производятся видов кирпичей, с рисунком и без,
                разного цвета, разного размера!
                По окончании экскурсии мы сфотографировались на фотозоне, и нашим семьям подарили по кирпичику на
                память))</p>
              <p>Благодарим Наталью Владимировну и руководство Губского кирпичного завода за интереснейшую экскурсию!
                Хочется пожелать дальнейшего развития промышленного туризма, развития строящейся собственной базы отдыха
                «Кирпичная слобода», всем очень рекомендуем к посещению!</p>
            </div>
          </div>
        </a>

      </article>





      <button class="button-close js-close-modal" type="button" title="Закрыть окно"></button>
    </div>
  </div>
</section>

<!-- модальное окно с уведомлением о cookie -->
<section class="modal -cookie js-modal" id="modal-cookie">
  <div class="wrapper">

    <div class="modal__body">

      <div class="cookie-alert">
        <div class="cookie-alert__grid">
          <div class="cookie-alert__col -image">
            <div class="cookie-alert__image">
              <img src="./assets/img/cookie.png" alt="#" />
            </div>
          </div>
          <div class="cookie-alert__col -text">
            <p class="cookie-alert__text">Этот сайт использует cookie для хранения данных. Продолжая работать, вы даете
              согласие на работу с этими
              файлами и даете согласие на <a href="#">обработку персональных данных</a></p>
          </div>
          <div class="cookie-alert__col -button">
            <a href="#" class="button -white">
              <span class="button__text">согласен</span>
              <span class="button__icon -mod">
                <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.65674L5.94975 11.6065L16.5572 1" stroke="#E67917" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>











      <button class="button-close js-close-modal" type="button" title="Закрыть окно"></button>
    </div>
  </div>
</section>
