.header-contacts {
  max-width: max-content;
  margin-left: auto;
  &__flex {
    display: flex;
    margin-right: -16px;
    margin-bottom: -16px;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 767px) {
      margin-right: -8px;
      margin-bottom: -8px;
    }
  }
  &__item {
    margin-right: 16px;
    margin-bottom: 16px;
    max-width: max-content;
    @media (max-width: 767px) {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}
