.category-preview-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @media (max-width: 1365px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.-gray {
    background-color: rgba(176, 163, 147, 0.15);
  }
  &__header {
    margin-bottom: 42px;
  }

  .text-and-button {
    margin-bottom: 36px;
  }
}
