.error-section {
  position: relative;
  min-height: 100svh;
  padding-top: 160px;
  padding-bottom: 48px;
  display: grid;
  align-items: flex-end;

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--black-40);
    }
  }
  &__group {
    position: relative;
    color: var(--white);
  }
  .title {
    color: inherit;
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 992px;
  }
  .text {
    color: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    opacity: 0.8;
    max-width: 992px;
  }
  .button {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  @media (max-width: 1365px) {
    .button {
      margin-bottom: 0;
    }
    .services-group {
      display: none;
    }
  }

  @media (max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 40px;
    .title {
      margin-bottom: 8px;
    }
    .text {
      font-size: 16px;
    }
    .button {
      margin-top: 24px;
    }

  }
}
