.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-30);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  // интерактив
  &.active {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }

  .wrapper {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    position: relative;
    z-index: 2;
    max-width: 880px;
    width: 100%;
    background-color: var(--background-6);
    padding: 26px 40px 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
    max-height: 100%;

    @media (max-width: 767px) {
      padding: 20px 25px 25px;
    }
  }
  &__container {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &.-full {
    .wrapper {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
    }
    .button-close {
      top: 48px;
      right: 48px;
      @media (max-width: 1023px) {
        top: 40px;
        right: 40px;
      }
      @media (max-width: 767px) {
        top: 20px;
        right: 20px;
      }
    }
    .title-two {
      padding-right: 50px;
    }
  }
  &.-full &__body {
    max-width: 100%;
    border-radius: 0;
    height: 100%;
    display: block;
    padding: 48px;
    @media (max-width: 1023px) {
      padding: 40px;
    }
    @media (max-width: 767px) {
      padding: 20px;
    }
  }
  .title-two {
    margin-bottom: 12px;
    @media (max-width: 767px) {
      margin-bottom: 6px;
    }
  }
  .text {
    margin-bottom: 20px;
  }

  .button-close {
    position: absolute;
    top: -20px;
    right: 24px;
    @media (max-width: 767px) {
      right: 25px;
    }
  }
  &__long-content {
    padding-top: 16px;
    padding-bottom: 24px;
    max-height: 70svh;
    overflow-y: auto;
  }

  .review-preview-card {
    max-width: 100%;
    width: 100%;
    background-color: transparent !important;
    border: none !important;
  }

  .review-preview-card__link {
    padding: 0 !important;
    padding-top: 16px !important;
    padding-bottom: 24px !important;
  }

  .review-preview-card__text {
    max-height: 70svh;
    overflow-y: auto;
  }

  &.-cookie {
    align-items: flex-end;
  }
  &.-cookie &__body {
    max-width: 752px;
    padding: 32px 22px;
    @media (max-width: 767px) {
      padding: 24px 19px 19px;
    }
  }

  &.-cookie .wrapper {
    margin-top: auto;
    align-items: flex-end;
    margin-bottom: 16px;
  }

  .filter-group {
    margin-bottom: 32px;
  }

  .mobile-filter-selected-options {
    max-width: max-content;
    margin: 0 auto;
    margin-top: auto;
  }

  .city-accordion__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 0 32px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .city-accordion__trigger::before {
    @media (max-width: 767px) {
      border-radius: 0;
    }
  }
  .city-accordion__trigger:hover::before {
    @media (max-width: 767px) {
      left: -20px;
      right: -20px;
    }
  }
  .city-accordion__content {
    @media (max-width: 767px) {
      padding: 10px 0 14px;
    }
  }

  .category-filter__options {
    margin: 0;
    overflow: initial;
    padding: 0;
    margin-bottom: 40px;
  }
  .category-filter__list {
    background-color: transparent;
    min-width: initial;
    max-width: 100%;
    border-radius: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .category-sorter {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .category-filter__grid {
    gap: 24px;
  }

  .city-accordion__trigger {
    padding-inline: 0;
  }
}
