.our-projects {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }

    .project-preview-card {
      max-width: 100%;
      width: 100%;
    }
  }
}
