.section {
  margin-top: 64px;
  margin-bottom: 64px;

  @media (max-width: 1365px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__top {
    margin-bottom: 32px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &.-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.-bg-color {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 64px;
    padding-bottom: 64px;

    @media (max-width: 1365px) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &.-bg-color-grey {
    background-color: var(--grey-15);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 64px;
    padding-bottom: 64px;

    @media (max-width: 1365px) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
