<div class="catalog-products-preview">
  <ul class="catalog-products-preview__list list-reset">

    {% include "components/catalog-card-preview/1.html" %}
    {% include "components/catalog-card-preview/2.html" %}
    {% include "components/catalog-card-preview/mini-slider.html" %}
    {% include "components/catalog-card-preview/3.html" %}

    {% include "components/catalog-card-preview/3.html" %}
    {% include "components/catalog-card-preview/3.html" %}
    {% include "components/catalog-card-preview/mini-slider.html" %}
    {% include "components/catalog-card-preview/3.html" %}

  </ul>
</div>
