<head>
  <meta charset="UTF-8">
  <title>@@title</title>

  <meta name="description" content="@@description">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <!-- favicon -->
  <link rel="shortcut icon" href="./favicon.ico">

  <!-- Preload шрифтов Geologica -->
  <link rel="preload" href="./assets/fonts/Geologica/Geologica-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Geologica/Geologica-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Geologica/Geologica-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Geologica/Geologica-SemiBold.woff2" as="font" type="font/woff2" crossorigin>

  <!-- Preload шрифтов Inter -->
  <link rel="preload" href="./assets/fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Inter/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Inter/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Inter/Inter-Black.woff2" as="font" type="font/woff2" crossorigin>

  <!-- библиотеки -->
  <link rel="stylesheet" href="./assets/libs/normalize.css" />
  <link rel="stylesheet" href="./assets/libs/swiper-bundle.min.css" />


  <!-- стили  -->
  <link rel="stylesheet" href="./assets/css/main.css" />


</head>

@@include('components/developer-duck.html')
