<!-- Libraries -->
<script src="{{ assets }}/libs/swiper-bundle.min.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script src="{{ assets }}/libs/fslightbox.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script src="{{ assets }}/libs/imask.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>

<!-- Components -->
<script
  src="{{ assets }}/scripts/components/content-table.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/navigation-accordion.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script src="{{ assets }}/scripts/components/modals.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/desktop-sub-navigation.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/mobile-navigation-menu.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/header-sticky.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/logo-manager.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/city-accordion.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script src="{{ assets }}/scripts/components/dropdown.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/review-card-text-limit.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/components/radio-label-line-check.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>


<!-- Sliders -->
<script src="{{ assets }}/scripts/sliders/slider-group.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script src="{{ assets }}/scripts/sliders/reviews-slider.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/sliders/photo-slider-full.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/sliders/product-card-sliders.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/sliders/home-hero-slider.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script
  src="{{ assets }}/scripts/sliders/catalog-card-preview-slider.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>


<script src="https://api-maps.yandex.ru/2.1/?apikey=99d7675e-f984-459d-a854-2fe51340a298&lang=ru_RU"
        type="text/javascript"></script>
<script
  src="{{ assets }}/scripts/components/contacts-map.js{% if isProduction %}?v={{ timestamp }}{% endif %}" defer></script>

<!-- Main -->
<script src="{{ assets }}/scripts/main.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
<script src="{{ assets }}/scripts/custom.js{% if isProduction %}?v={{ timestamp }}{% endif %}"></script>
