/* geologica-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Geologica/Geologica-Regular.woff2') format('woff2');
}

/* geologica-medium - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Geologica/Geologica-Medium.woff2') format('woff2');
}

/* geologica-semibold - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Geologica/Geologica-SemiBold.woff2') format('woff2');
}

/* geologica-bold - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Geologica/Geologica-Bold.woff2') format('woff2');
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
}

/* inter-medium - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
}

/* inter-semibold - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
}

/* inter-bold - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
}

/* inter-black - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Inter/Inter-Black.woff2') format('woff2');
}
