.why-choose-us {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__list {
    display: grid;
    gap: 20px 32px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
