.calculation-results {
  &__grid {
    display: grid;
    gap: 24px 32px;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  &__col {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__group {
    padding: 16px 32px 26px;
    border-radius: 40px;
    background-color: var(--white);

  }

  &__group.-mod-bg {
    background-color: rgba(176, 163, 147, 0.2);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;

    b {
      font-weight: 600;
      color: var(--dark);
    }
  }

  &__cost {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 75%;
    color: var(--dark)
  }

  &__text-footnote {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--dark);
    margin-bottom: 0;

    b {
      font-weight: 600;
    }
  }

  &__title {
    font-size: 24px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--dark);
  }
}
