.city-accordion {
  display: grid;
  transition: var(--transition);

  &:hover {
    border-color: transparent;
    z-index: 9;
    position: relative;


  }


}

/* item */
.city-accordion__item {
  transition: var(--transition);
  &:not(:first-of-type) {
    border-top: 1px solid var(--border-color);
  }
  &:last-of-type {
    border-bottom: 1px solid var(--border-color);
  }
  &:hover,
  &:has(*:hover) {
    border-color: transparent !important;
    .city-accordion__icon {
      scale: 1.2;
    }
  }
  &:hover + &,
  &:has(*:hover) + & {
    border-color: transparent !important;
    position: relative;
    z-index: 2;
  }

  &--open {
    .city-accordion__icon::before {
      transform: rotate(-135deg);
    }
  }

}

/* trigger */
.city-accordion__trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: var(--dark);
  font: inherit;
  text-align: left;

  border-radius: 8px;
  background-color: transparent;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background-color: transparent;
    transition: var(--transition);
  }

  &:hover::before {
    background-color: rgba(176, 163, 147, 0.2);
    top: -2px;
    right: -16px;
    bottom: -2px;
    left: -16px;
  }

}

.city-accordion__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--dark);
  margin: 0;
}

/* icon (chevron) */
.city-accordion__icon {
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
  position: relative;
  transition: var(--transition);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--orange);
    border-bottom: 2px solid var(--orange);
    transform: rotate(45deg);
    transition: transform 180ms ease;
  }
}

.city-accordion__panel {
  overflow: hidden;
}

.city-accordion__content {
  padding: 10px 10px 14px;
}

/* list options */
.city-accordion__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* custom checkmark */
.city-accordion__checkmark {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;

  border-radius: 6px;
  border: 2px solid rgba(93, 104, 115, 0.35);
  background: var(--white);
  position: relative;
}
