.contacts-block {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    position: relative;
    padding-left: calc(48px + 16px);
  }
  &__item:hover &__icon {
    color: var(--accent-color-1);
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-color-1);
    transition: var(--transition);

    path {
      stroke: currentColor;
    }
  }
  &__label {
    display: block;
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
  }
  &__phone {
    display: block;
    margin: 0;
    font-family: var(--second-family);
    font-size: 32px;
    color: var(--dark);
  }
  &__text {
    display: block;
    margin: 0;
    font-family: var(--second-family);
    font-size: 18px;
    color: var(--dark);
  }
  &__address {
    display: block;
    margin: 0;
    font-family: var(--second-family);
    font-size: 18px;
    color: var(--dark);
  }
  &__phone {
    display: block;
    text-decoration: none;
    font-family: var(--second-family);
    font-size: 24px;
    color: var(--dark);
    transition: var(--transition);
    &:hover {
      color: var(--accent-color-1);
    }
  }
  &__email {
    display: block;
    text-decoration: none;
    font-family: var(--second-family);
    font-size: 24px;
    color: var(--dark);
    transition: var(--transition);
    &:hover {
      color: var(--accent-color-1);
    }
  }

  .button {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @media (max-width: 1365px) {
    &__grid {
      gap: 16px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 767px) {
    &__address {
      font-size: 16px;
    }
    &__text {
      font-size: 16px;
    }
    &__email {
      font-size: 16px;
    }
    &__phone {
      font-size: 18px;
    }
  }
}
