.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: var(--transition);
    background-color: var(--brand-color-1);
  }

  svg {
    position: relative;
    z-index: 2;
  }
}
