.map {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  overflow: hidden;
  background-color: tan;

  &__container {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 552px;
    display: flex;
    position: relative;

    @media (max-width: 1365px) {
      height: 400px;
    }

    @media (max-width: 767px) {
      height: 300px;
      width: 100%;
      display: flex;
    }
  }
}

[class*="copyrights-pane"] {
  display: none !important;
}
