.photo-slider-full {
  max-width: 100%;
  overflow-x: hidden;

  .swiper {
    overflow: visible;
    width: 100%;
    padding-inline: calc(64px + 47px);

    @media (max-width: 1365px) {
      padding-inline: calc(64px + 80px);
    }
    @media (max-width: 1023px) {
      padding-inline: 0;
    }
  }
  .swiper-slide {
    width: 640px;
    height: 496px;
    padding-top: 8px;
    padding-bottom: 8px;

    @media (max-width: 1365px) {
      height: 480px;
    }
    @media (max-width: 767px) {
      width: 375px;
      height: 280px;
    }
  }

  .wrapper {
  }

  &__card {
    width: 100%;
    height: 100%;
    display: flex;
    transition: var(--transition);
    &:hover {
      margin-top: -8px;
      margin-bottom: -8px;
      height: calc(100% + 16px);
    }

    a {
      display: block;
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  .swiper-wrapper {
    overflow: visible;
  }
}
