.project-preview-card {
  --card-padding: 8px;

  @media (max-width: 767px) {
    --card-padding: 8px;
  }

  max-width: 720px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 0;
    border-radius: 22px;
    background-color: var(--white);
    border: 4px solid transparent;
    // opacity: 0;
    transition: all 0.2s;
  }

  &:hover {
    z-index: 3;
  }

  &:hover::before {
    // border: 4px solid var(--brand-color-1);
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
    border-color: var(--orange);
    top: -8px;
    right: -8px;
    bottom: -80px;
    left: -8px;
    @media (max-width: 767px) {
      bottom: -130px;
    }
  }

  &:hover &__buttons {
    opacity: 1;
  }
  &:hover .button-favorite {
    opacity: 1;
  }
  &:hover .swiper-pagination {
    opacity: 1;
  }
  // &:hover &__title {
  //   color: var(--brand-color-1);
  // }

  &__body {
    padding: var(--card-padding);
    padding-bottom: calc(var(--card-padding) + 6px);
    background-color: transparent;
    color: var(--dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    position: relative;

  }
  &__footer {
    position: absolute;
    top: calc(var(--card-padding) * 2);
    left: calc(var(--card-padding) * 2);
    right: calc(var(--card-padding) * 2);
    z-index: 2;

    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: flex-start;

    .button-favorite {
      opacity: 0;
      justify-self: flex-end;
      margin-left: auto;
    }
  }
  &__picture {
    background-color: #f2f1ef;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    aspect-ratio: 9/5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .card-label {
      position: absolute;
      top: var(--card-padding);
      left: var(--card-padding);
    }
  }
  &__details {
    padding-inline: var(--card-padding);
    position: relative;
    @media (max-width: 767px) {
      padding-inline: 16px;
    }
  }

  &__category-name {
    display: block;
    margin: 0;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 400;
    transition: all 0.2s;
    margin-bottom: 0;
    &:hover {
      color: var(--brand-color-1);
    }
  }
  &__parameters {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.7;
  }
  &__price {
    display: block;
    margin: 0;
    font-family: var(--second-family);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 4px;
    @media (max-width: 767px) {
      font-size: 25px;
    }
  }
  &__buttons {
    margin-top: 10px;
    padding-inline: var(--card-padding);
    // margin-bottom: 24px;
    opacity: 0;
    position: absolute;
    transition: all 0.6s;
    // background-color: #ffffff;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    display: grid;
    gap: 24px 32px;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 767px) {
      padding-inline: 10px;
      gap: 16px;
      grid-template-columns: repeat(1, 1fr);
    }

    .button {
      max-width: 100%;
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }

  .button-favorite::before {
    border: none;
  }

  .swiper-pagination {
    opacity: 0;
    transition: var(--transition);
  }
}
