.product-card-main-slider {
  // height: 560px;
  @media (max-width: 1365px) {
    margin-bottom: 36px;
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
  .swiper {
    width: 100%;
    // height: 560px;
    padding-inline: calc(97px + 96px);
    overflow: visible;
    @media (max-width: 1365px) {
      padding: 0;
    }
  }

  .swiper-slide {
    width: 100%;
    height: 560px;
    // aspect-ratio: 991/560;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--hero-bg, #dfe5eb);
    @media (max-width: 1365px) {
      height: 524px;
      // aspect-ratio: 232/131;
    }
    @media (max-width: 1023px) {
      height: 388px;
      // aspect-ratio: 172/97;
    }
    @media (max-width: 767px) {
      height: 190px;
      // aspect-ratio: 67/38;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
      display: block;
    }
  }
  &__video-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--hero-bg, #dfe5eb);

    video {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      z-index: 0;
      -webkit-mask-image:
        linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%),
        linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%),
        linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%),
        linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%);
      -webkit-mask-composite: destination-in;
      mask-image:
        linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%),
        linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%),
        linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%),
        linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 8%, black 22%);
      mask-composite: intersect;
    }
  }
}
