.form-agree {
  font-weight: 400;
  font-size: 14px;

  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    align-items: baseline;
    line-height: 1.3;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--brand-color-1);
    }
  }

  &__control {
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    width: 24px;
    height: 24px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 16px;
    transition: var(--transition);
    border: 2px solid var(--white);
    @media (max-width: 767px) {
      top: 1px;
    }

    &:hover {
      border: 2px solid var(--orange);
    }
  }

  &__control-icon {
    background-image: url(../svg/icon-checked.svg);
    width: 14px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: var(--transition);
  }

  input:checked + &__control {
    background-color: var(--brand-color-1);
    border-color: var(--brand-color-1);
  }

  input:checked + &__control &__control-icon {
    opacity: 1;
  }
}
