<li class="catalog-products-preview__list-item">

  <article class="catalog-card-preview">
    <a href="#" class="catalog-card-preview__link">
      <div class="catalog-card-preview__body">

        <div class="catalog-card-preview__picture">
          <div class="catalog-card-preview-slider">

            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{{ assets }}/img/product-card-preview/1.jpg" alt="#" /></div>
                <div class="swiper-slide"><img src="{{ assets }}/img/product-card-preview/2.jpg" alt="#" /></div>
                <div class="swiper-slide"><img src="{{ assets }}/img/product-card-preview/3.jpg" alt="#" /></div>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>

        </div>

        <div class="catalog-card-preview__details">
          <span class="catalog-card-preview__category-name">Кирпич керамический Губский</span>
          <h3 class="catalog-card-preview__title lower-short-strip">Абрикос</h3>

          <p class="catalog-card-preview__parameters">0,7NF / 1NF / 1,4NF</p>
          <b class="catalog-card-preview__price">37,00 ₽</b>

          <span class="catalog-card-preview__button">
            <!-- Кнопка  -->
            <span class="button -small -full">
              <span class="button__text">подробнее</span>
              <span class="button__icon">
                <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L5 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M6 1L10 5L6 9" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </span>
          </span>
        </div>
      </div>
    </a>

    <div class="catalog-card-preview__footer">
      <a class="card-label -red" href="#"><span>Акция</span></a>

      <a class="button-favorite" href="#">
        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.7198 2.28339C19.3696 3.93722 19.4327 6.59844 17.8633 8.32907L9.99947 17L2.13666 8.32904C0.567246 6.59841 0.630451 3.93716 2.28021 2.28333C4.12225 0.436719 7.15598 0.605458 8.78334 2.6447L10 4.16873L11.2156 2.64452C12.843 0.605285 15.8778 0.436778 17.7198 2.28339Z"
            stroke="#C4161C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>


  </article>
</li>
