.footer-right-group {
  &__grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "logo"
      "copyright"
      "contacts"
      "social"
      "developers";
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    text-align: right;

    @media (max-width: 1379px) {
      justify-content: initial;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "logo contacts social"
        "copyright copyright developers";
      margin-left: 0;
      text-align: initial;
    }
    @media (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);

      grid-template-areas:
        "logo contacts"
        "copyright social"
        "developers developers";
    }
    @media (max-width: 767px) {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "logo"
        "copyright"
        "contacts"
        "social"
        "developers";
    }
  }
  &__item {
    justify-self: flex-end;
    @media (max-width: 1379px) {
      justify-self: initial;
    }

    &.-logo {
      grid-area: logo;
    }
    &.-contacts {
      grid-area: contacts;
      justify-self: flex-end;
      margin-left: -24px;
      margin-left: -24px;
      @media (max-width: 767px) {
      justify-self: initial;
      margin-left: 0;
      margin-left: 0;
    }
    }
    &.-social {
      grid-area: social;
      justify-self: flex-end;
      @media (max-width: 767px) {
        justify-self: center;
        width: 100%;
        .button {
          max-width: 100%;
          width: 100%;
          justify-content: center;
        }
      }
    }
    &.-copyright {
      grid-area: copyright;
    }
    &.-developers {
      grid-area: developers;
      justify-self: flex-end;
      @media (max-width: 767px) {
        // justify-self: initial;
      }
    }
  }
}
