.footer-contacts-group {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: flex-end;
  max-width: max-content;
  @media (max-width: 1650px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 1379px) {
    grid-template-columns: auto auto;

  }
  @media (max-width: 767px) {
    grid-template-columns: auto 1fr;
    max-width: 100%;
    width: 100%;

  }
  .button {
    max-width: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

}
