.left-sidebar-and-main {
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 4fr 8fr;
  }
  &__col.-sidebar {
    .aside-group {
      max-width: 384px;
      width: 100%;
    }
  }
  &__col.-main {
    .pagination {
      margin-left: auto;
      margin-right: 0;
    }
  }
  @media (max-width: 1379px) {
    &__grid {
      grid-template-columns: 1fr
    }
    &__col.-main {
    .pagination {
      margin-left: auto;
      margin-right: auto;
    }
  }
  }
}
