.two-columns-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 1379px) {
    display: block;
  }

  &__col + &__col {
    .options-list {
      @media (max-width: 1379px) {
        border-top: 1px solid var(--border-color);
      }
    }
  }

  color: var(--dark-70);
}
