<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if baseHref %}<base href="{{ baseHref }}">{% endif %}

  <title>{{ title | default("Мой сайт") }}</title>

  {% include "components/head-assets.html" %}
</head>

<body {% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
  {% include "sections/header.html" %}
  {% include "components/mobile-navigation-menu.html" %}

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  {% include "sections/footer-big.html" %}
  {% include "sections/modals.html" %}




  <!-- библиотеки -->
  {% include "components/scripts.html" %}

</body>

</html>
