<div class="contact-form">

  <div class="contact-form__row">
    <div class="contact-form__grid">
      <div class="contact-form__col">
        <label class="label -mod" for="user-name-3">Ваше имя:</label>
        <div class="input">
          <input type="text" id="user-name-3" placeholder="Представьтесь, пожалуйста" required />
        </div>
      </div>
      <div class="contact-form__col">
        <label class="label -mod" for="user-phone-3">Телефон:</label>
        <div class="input">
          <input type="tel" id="user-phone-3" placeholder="Введите Ваш номер" required />
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form__row">
    <div class="contact-form__col">
      <label class="label" for="user-name-3">Сообщение:</label>
      <div class="input">
        <textarea name="user-message-3" id="" placeholder="Написать сообщение"></textarea>
      </div>
    </div>
  </div>

  <div class="contact-form__row">
    <div class="contact-form__flex">
      <div class="contact-form__col -left">

        <div class="form-agree">
          <input class="visually-hidden" type="checkbox" id="user-agree-3" required checked>
          <label for="user-agree-3">Даю согласие на обработку <a href="#" target="_blank">персональных
              данных</a> и принимаю <a href="#" target="_blank">политику конфиденциальности</a></label>
        </div>

      </div>
      <div class="contact-form__col -right">

        <button class="button -icon-right -send -red-color" type="submit">Отправить</button>

      </div>
    </div>
  </div>
</div>
