<div class="contact-form">

  <div class="contact-form__row">
    <div class="contact-form__grid">
      <div class="contact-form__col">
        <label class="label -mod" for="user-name-2">Ваше имя:</label>
        <div class="input">
          <input type="text" id="user-name-2" placeholder="Представьтесь, пожалуйста" required />
        </div>
      </div>
      <div class="contact-form__col">
        <label class="label -mod" for="user-phone-2">Телефон:</label>
        <div class="input">
          <input type="tel" id="user-phone-2" placeholder="Введите Ваш номер" required />
        </div>
      </div>
    </div>
  </div>

  <div class="contact-form__row">
    <div class="contact-form__flex">
      <div class="contact-form__col -left">

        <div class="form-agree">
          <input class="visually-hidden" type="checkbox" id="user-agree-2" required>
          <label for="user-agree-2">Даю согласие на обработку <a href="#" target="_blank">персональных
              данных</a> и принимаю <a href="#" target="_blank">политику конфиденциальности</a></label>
        </div>

      </div>
      <div class="contact-form__col -right">

        <button class="button -icon-right -send -red-color" type="submit">Отправить</button>

      </div>
    </div>
  </div>
</div>
