<div class="desktop-navigation">
  <div class="desktop-navigation__grid">

    <div class="desktop-navigation__group -catalog-group">

      <div class="navigation-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Каталог</a>
            <div class="navigation-sub-menu">
              <ul class="navigation-sub-menu__list list-reset">
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Керамический кирпич</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Кирпич рядовой</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Кирпич хозяйственный</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Глина</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Керамическая крошка</a>
                </li>
              </ul>
            </div>

          </li>
        </ul>
      </div>

    </div>

    <div class="desktop-navigation__group -about-us-group">

      <div class="footer-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">О компании</a>
            <div class="navigation-sub-menu">
              <ul class="navigation-sub-menu__list list-reset">
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">История</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Производство</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Промышленный туризм</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Реквизиты</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="desktop-navigation__group -info-group">

      <div class="footer-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Информация</a>
            <div class="navigation-sub-menu">
              <ul class="navigation-sub-menu__list list-reset">
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Доставка и отгрузка</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Варианты оплаты</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Обмен и возврат товара</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Стать партнером</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="desktop-navigation__group -documents-group">
      <div class="footer-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Документы</a>
            <div class="navigation-sub-menu">
              <ul class="navigation-sub-menu__list list-reset">
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Нормативные документы</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Техническая информация о продуктах</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Политика в отношении обработки персональных
                    данных</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Согласие на обработку персональных данных</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Согласие на получение новостной и рекламной
                    рассылок</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Пользовательское соглашение</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="desktop-navigation__group -calculation-group">
      <div class="footer-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Расчеты и визуализации</a>
            <div class="navigation-sub-menu">
              <ul class="navigation-sub-menu__list list-reset">
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Калькулятор облицовочного кирпича</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">2d-визуализация (конфигуратор)</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Фотогалерея</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="desktop-navigation__group -architecture-group">
      <div class="footer-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Архитектура</a>
            <div class="navigation-sub-menu">
              <ul class="navigation-sub-menu__list list-reset">
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Требования к законодательству</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Рекомендуем архитектора</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Портфолио</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="desktop-navigation__group -building-group">
      <div class="footer-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Строительство</a>
            <div class="navigation-sub-menu">
              <ul class="navigation-sub-menu__list list-reset">
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Рекомендации по строительству</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Рекомендуем строителей</a>
                </li>
                <li class="navigation-sub-menu__item">
                  <a class="navigation-sub-menu__link" href="#">Портфолио</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="desktop-navigation__group -other-group">
      <div class="footer-menu">
        <ul class="navigation-menu__list list-reset">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Блог</a>
          </li>
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Акции</a>
          </li>
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
