<div class="mobile-navigation">

  <ul class="mobile-navigation__list list-reset">

    <li class="mobile-navigation__item">

      <!-- Каталог  -->
      <div class="navigation-accordion">
        <button class="navigation-accordion__toggle" type="button" aria-expanded="false">
          <span class="navigation-accordion__title">Каталог</span>
          <span class="navigation-accordion__icon" aria-hidden="true"></span>
        </button>
        <div class="navigation-accordion__panel">

          <div class="navigation-sub-menu">
            <ul class="navigation-sub-menu__list list-reset">
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Керамический кирпич</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Кирпич рядовой</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Кирпич хозяйственный</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Глина</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Керамическая крошка</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </li>
    <!-- О компании  -->
    <li class="mobile-navigation__item">
      <div class="navigation-accordion">
        <button class="navigation-accordion__toggle" type="button" aria-expanded="false">
          <span class="navigation-accordion__title">О компании</span>
          <span class="navigation-accordion__icon" aria-hidden="true"></span>
        </button>
        <div class="navigation-accordion__panel">

          <div class="navigation-sub-menu">
            <ul class="navigation-sub-menu__list list-reset">
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">История</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Производство</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Промышленный туризм</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Реквизиты</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </li>
    <!-- Информация  -->
    <li class="mobile-navigation__item">
      <div class="navigation-accordion">
        <button class="navigation-accordion__toggle" type="button" aria-expanded="false">
          <span class="navigation-accordion__title">Информация</span>
          <span class="navigation-accordion__icon" aria-hidden="true"></span>
        </button>
        <div class="navigation-accordion__panel">

          <div class="navigation-sub-menu">
            <ul class="navigation-sub-menu__list list-reset">
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Доставка и отгрузка</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Варианты оплаты</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Обмен и возврат товара</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Стать партнером</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </li>

    <!-- Документы  -->
    <li class="mobile-navigation__item">
      <div class="navigation-accordion">
        <button class="navigation-accordion__toggle" type="button" aria-expanded="false">
          <span class="navigation-accordion__title">Документы</span>
          <span class="navigation-accordion__icon" aria-hidden="true"></span>
        </button>
        <div class="navigation-accordion__panel">

          <div class="navigation-sub-menu">
            <ul class="navigation-sub-menu__list list-reset">
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Нормативные документы</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Техническая информация о продуктах</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Политика в отношении обработки персональных
                  данных</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Согласие на обработку персональных данных</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Согласие на получение новостной и рекламной
                  рассылок</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Пользовательское соглашение</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </li>

    <!-- Расчеты и визуализации  -->
    <li class="mobile-navigation__item">
      <div class="navigation-accordion">
        <button class="navigation-accordion__toggle" type="button" aria-expanded="false">
          <span class="navigation-accordion__title">Расчеты и визуализации</span>
          <span class="navigation-accordion__icon" aria-hidden="true"></span>
        </button>
        <div class="navigation-accordion__panel">

          <div class="navigation-sub-menu">
            <ul class="navigation-sub-menu__list list-reset">
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Калькулятор облицовочного кирпича</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">2d-визуализация (конфигуратор)</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Фотогалерея</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </li>

    <!-- Архитектура  -->
    <li class="mobile-navigation__item">
      <div class="navigation-accordion">
        <button class="navigation-accordion__toggle" type="button" aria-expanded="false">
          <span class="navigation-accordion__title">Архитектура</span>
          <span class="navigation-accordion__icon" aria-hidden="true"></span>
        </button>
        <div class="navigation-accordion__panel">

          <div class="navigation-sub-menu">
            <ul class="navigation-sub-menu__list list-reset">
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Требования к законодательству</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Рекомендуем архитектора</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Портфолио</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </li>

    <!-- Строительство  -->
    <li class="mobile-navigation__item">
      <div class="navigation-accordion">
        <button class="navigation-accordion__toggle" type="button" aria-expanded="false">
          <span class="navigation-accordion__title">Строительство</span>
          <span class="navigation-accordion__icon" aria-hidden="true"></span>
        </button>
        <div class="navigation-accordion__panel">

          <div class="navigation-sub-menu">
            <ul class="navigation-sub-menu__list list-reset">
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Рекомендации по строительству</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Рекомендуем строителей</a>
              </li>
              <li class="navigation-sub-menu__item">
                <a class="navigation-sub-menu__link" href="#">Портфолио</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </li>

    <li class="mobile-navigation__item">
      <a class="mobile-navigation__link" href="#">Блог</a>

    </li>
    <li class="mobile-navigation__item">
      <a class="mobile-navigation__link" href="#">Акции</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="mobile-navigation__link" href="#">Контакты</a>
    </li>
    </li>
  </ul>

</div>
