.mobile-navigation-menu-open {
  overflow: hidden;

  .button-menu span {
    background-color: transparent !important;
  }

  .button-menu span:after {
    transform: rotate(45deg);
    width: 14px;
  }

  .button-menu span:before {
    transform: rotate(-45deg);
    width: 14px;
  }

  .mobile-navigation-menu {
    opacity: 1;
    visibility: initial;
    pointer-events: initial;
  }

  .header.-glass .header__body {
    color: var(--dark);
  }

  .header .phone {
    color: inherit;
  }

  .header {
    top: 16px;
  }

    .header.-glass {
    .button.-telegram::before {
      border: 1px solid var(--grey-30);
    }

    .button.-telegram {
      color: #039be5;
    }
    .button.-telegram:hover {
      color: var(--white);
    }

    .button.-telegram .button__icon {
      color: inherit;
    }


    .button-favorite {
      color: var(--red);
    }
     .button-favorite:hover {
      color: var(--white);
    }
    .button-favorite::before {
      border: 1px solid var(--grey-30);
    }
  }
}
