.promo-section-header {
  margin-bottom: 10px;
  @media (max-width: 1379px) {
    margin-bottom: 24px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 48px;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
  &__grid {
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr;
    align-items: center;
    @media (max-width: 1023px) {
      display: block;
    }
  }
  &__image {
    max-width: 328px;
    position: relative;
    z-index: 2;
    transform: translateY(30px);
    @media (max-width: 1379px) {
      transform: none;
    }
    @media (max-width: 1023px) {
      max-width: 208px;
      // margin-bottom: -85px;
    }
    @media (max-width: 767px) {
      max-width: 193px;
    }
  }
  &__text {
    font-size: 20px;
    color: inherit;
    opacity: 0.7;
    margin: 0;
    @media (max-width: 1023px) {
      padding-left: calc(208px + 32px);
      margin-top: -115px;
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {
      padding: 0;
      margin-top: 0;
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
  &__title {
    color: inherit;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 117%;
    @media (max-width: 1379px) {
      font-size: 40px;
    }
    @media (max-width: 767px) {
      font-size: 25px;
      margin-right: -10px;
    }
  }
}
