.promo-section-form {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 24px 31px 30px;
  /* Размытие фона под элементом */
  backdrop-filter: blur(10px);

  /* Граница для усиления эффекта стекла */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* Тень для объема */
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (max-width: 1023px) {
    padding: 26px 32px 32px;
  }

  @media (max-width: 767px) {
    padding: 16px 20px 20px;
  }

  &__grid {
    display: grid;
    gap: 24px 32px;
    grid-template-columns: 1fr 1fr 500px;
    align-items: flex-end;

    @media (max-width: 1365px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }

  &__col {
    &.-full {
      @media (max-width: 1365px) {
        grid-column: span 2;
      }

      @media (max-width: 767px) {
        grid-column: initial;
      }
    }
  }

  &__agree {
    display: grid;
    gap: 18px 30px;
    grid-template-columns: 1fr 180px;
    color: var(--white-70);
    align-items: center;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    a {
      color: var(--white);
    }
  }

  .button {
    min-height: 56px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;

    @media (max-width: 767px) {
      min-height: 50px;
      max-width: 185px;
      margin-left: auto;
    }
  }
}
